<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureTag</key>
	<string>synchronousSize</string>
	<key>completionvideo</key>
	<string>scrollableSensor</string>
	<key>imageMargin</key>
	<string>locateTexture</string>
	<key>instructionVelocity</key>
	<string>observeMaterial</string>
	<key>prevSink</key>
	<string>specifyPoint</string>
	<key>routecapacities</key>
	<string>musicVisibility</string>
	<key>significantSkirt</key>
	<string>canNotifyDimension</string>
	<key>sustainablecoordinatorvalidation</key>
	<string>widgetascent</string>
	<key>taskkindalignment</key>
	<string>allocatorVisibility</string>
	<key>usecasebottom</key>
	<string>numericalRichText</string>
</dict>
</plist>
