<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activateutil</key>
	<string>accessiblemetadatatail</string>
	<key>backwardAnimatedContainer</key>
	<string>statefuldetail</string>
	<key>directIntegration</key>
	<string>reconcileMetadata</string>
	<key>immutablecheckbox</key>
	<string>canNotifyAppBar</string>
	<key>localMaster</key>
	<string>radioSingleton</string>
	<key>loopState</key>
	<string>euclideanTolerance</string>
	<key>parallelSwift</key>
	<string>statefulfeedback</string>
	<key>resourceAcceleration</key>
	<string>shouldDetachLog</string>
	<key>synchronousSensor</key>
	<string>retainedhandlerresponse</string>
</dict>
</plist>
