<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionagainstparameter</key>
	<string>deserializedropdownbutton</string>
	<key>intuitiveplayback</key>
	<string>interactiveisolate</string>
	<key>makeeffect</key>
	<string>providerActivity</string>
	<key>prismaticGesture</key>
	<string>relationaltitle</string>
	<key>responderTag</key>
	<string>protocolBrightness</string>
	<key>selectedternary</key>
	<string>connectMonster</string>
	<key>semanticCapsule</key>
	<string>connectorDuration</string>
	<key>shouldPrepareDescriptor</key>
	<string>isModal</string>
	<key>smallProvider</key>
	<string>persistBase</string>
	<key>sortedScroller</key>
	<string>progressbarValue</string>
</dict>
</plist>
