<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyTernary</key>
	<string>detachRemainder</string>
	<key>hyperbolicLayer</key>
	<string>tweakVisibility</string>
	<key>requestmend</key>
	<string>canBuildBorder</string>
	<key>shouldCacheInstruction</key>
	<string>canSetStateMusic</string>
	<key>visibleInstruction</key>
	<string>consumerVisitor</string>
</dict>
</plist>
