<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivesegmenttheme</key>
	<string>expandednearnumber</string>
	<key>greatEquipment</key>
	<string>transformPrecision</string>
	<key>integrityBrightness</key>
	<string>dissociatehandler</string>
	<key>transformcell</key>
	<string>alertLayer</string>
</dict>
</plist>
