<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addlabel</key>
	<string>pauseSymbol</string>
	<key>errorCount</key>
	<string>typicalShape</string>
	<key>impressionacceleration</key>
	<string>detachProvider</string>
	<key>moduletransparency</key>
	<string>textframe</string>
	<key>nativeResponse</key>
	<string>standaloneView</string>
	<key>nodetop</key>
	<string>compositionalinitiatorsinteraction</string>
	<key>priorityFlags</key>
	<string>undertakeParticle</string>
	<key>shouldProcessAxis</key>
	<string>canPopSession</string>
	<key>transitioncontainstructure</key>
	<string>parallelTime</string>
	<key>unaryInteraction</key>
	<string>timerPlatform</string>
</dict>
</plist>
