<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedInformation</key>
	<string>tappableAspect</string>
	<key>detachbloc</key>
	<string>materializeGroup</string>
	<key>otherReducer</key>
	<string>comprehensiveFuture</string>
	<key>respectiveSink</key>
	<string>canSetStateBrush</string>
	<key>unactivatedAmortization</key>
	<string>isBehavior</string>
</dict>
</plist>
