<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentZone</key>
	<string>sineFacade</string>
	<key>dedicatedAxis</key>
	<string>ignoredOptimizer</string>
	<key>mountedresolver</key>
	<string>canShowSymbol</string>
	<key>oldEmitter</key>
	<string>activatedRectangle</string>
	<key>pivotalRadius</key>
	<string>unsortedRequest</string>
	<key>reconcilesine</key>
	<string>clipperStatus</string>
	<key>robustTechnique</key>
	<string>utiltransparency</string>
	<key>shouldtransformmovement</key>
	<string>assetStyle</string>
	<key>temporaryTask</key>
	<string>eventlayerpressure</string>
</dict>
</plist>
