<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanExpanded</key>
	<string>scaleNumber</string>
	<key>futureName</key>
	<string>specifyOperation</string>
	<key>mergerFrequency</key>
	<string>referencerange</string>
	<key>occasionSkewX</key>
	<string>topicoutsidetemple</string>
	<key>popupInset</key>
	<string>elasticBorder</string>
	<key>resourceOrientation</key>
	<string>agileGate</string>
	<key>shouldConnectChecklist</key>
	<string>responsiveSizedBox</string>
	<key>statefulReplica</key>
	<string>canDecodeScroll</string>
	<key>tensorSkin</key>
	<string>canYieldMusic</string>
	<key>trajectoryAlignment</key>
	<string>shouldNotifySign</string>
</dict>
</plist>
