<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorDistance</key>
	<string>grouplikeplatform</string>
	<key>diffableAspect</key>
	<string>permissiveresolver</string>
	<key>floataccessory</key>
	<string>mountSession</string>
	<key>newestpet</key>
	<string>instructionSaturation</string>
	<key>prevChooser</key>
	<string>combineVector</string>
	<key>projectincludestage</key>
	<string>prioralignment</string>
	<key>shouldSerializeDimension</key>
	<string>divideNode</string>
	<key>shouldUnmountExponent</key>
	<string>canResumeCanvas</string>
	<key>sophisticatedSession</key>
	<string>observerkindvisible</string>
</dict>
</plist>
