<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialStateless</key>
	<string>handleSink</string>
	<key>descriptiondelay</key>
	<string>dynamicShape</string>
	<key>geometricChallenge</key>
	<string>rapidlabel</string>
	<key>scrollableremediation</key>
	<string>directVideo</string>
	<key>semanticVariant</key>
	<string>shouldTrainCheckbox</string>
	<key>shouldFinishSkirt</key>
	<string>deployScene</string>
	<key>shouldpresentsymbol</key>
	<string>euclideanChannels</string>
	<key>topicspeed</key>
	<string>hardScene</string>
</dict>
</plist>
