<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSelector</key>
	<string>canParseScroll</string>
	<key>drawerimage</key>
	<string>concreteCell</string>
	<key>elementShape</key>
	<string>sineParameter</string>
	<key>invisibleHandler</key>
	<string>canDismissRow</string>
	<key>pagerDuration</key>
	<string>diffableState</string>
	<key>processslider</key>
	<string>collectionPlatform</string>
	<key>shouldMountedUnary</key>
	<string>prismaticFeature</string>
	<key>unactivatedproviderborder</key>
	<string>canPrepareEqualization</string>
	<key>uniformModule</key>
	<string>listenGraph</string>
</dict>
</plist>
