<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistInterval</key>
	<string>multiplicationMemento</string>
	<key>ephemeralCapacities</key>
	<string>handlerbottom</string>
	<key>processorBottom</key>
	<string>canInflateNotifier</string>
	<key>shouldSetStateClipper</key>
	<string>scrollableVideo</string>
	<key>similarSpot</key>
	<string>reductionBorder</string>
	<key>singleSubscriber</key>
	<string>pinchableRectangle</string>
</dict>
</plist>
