<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSorter</key>
	<string>pinchableRemainder</string>
	<key>bitrateStyle</key>
	<string>independentImpression</string>
	<key>functionalTimer</key>
	<string>seamlessPet</string>
	<key>invisibleBinder</key>
	<string>transitionAlpha</string>
	<key>logarithmevent</key>
	<string>materialIsolate</string>
	<key>relationalskirtinterval</key>
	<string>synchronousConfiguration</string>
	<key>resourceexceptshape</key>
	<string>updateVector</string>
	<key>shouldPublishAxis</key>
	<string>statefulOffset</string>
	<key>sliderCoord</key>
	<string>shouldRebuildConsumer</string>
	<key>uniformGestureDetector</key>
	<string>shouldRebuildMargin</string>
</dict>
</plist>
