<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemthroughtype</key>
	<string>pagerOrigin</string>
	<key>kernelSpacing</key>
	<string>commonColumn</string>
	<key>lazyProvider</key>
	<string>cupertinoShader</string>
	<key>methodelement</key>
	<string>shouldSetStateFragment</string>
	<key>unmountpopup</key>
	<string>agileTime</string>
	<key>unsortedSegment</key>
	<string>customStream</string>
</dict>
</plist>
