<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseDepth</key>
	<string>specifierPressure</string>
	<key>capacitiesOpacity</key>
	<string>easyCapacities</string>
	<key>graphCenter</key>
	<string>shouldTransformMatrix</string>
	<key>hashvarforce</key>
	<string>queueStructure</string>
	<key>hyperbolicCurve</key>
	<string>publishticker</string>
	<key>locatefactory</key>
	<string>respondCompleter</string>
	<key>pointtitle</key>
	<string>resilientTransition</string>
	<key>shouldStartHero</key>
	<string>sophisticatedInitiators</string>
	<key>sustainableStore</key>
	<string>dynamicfuture</string>
</dict>
</plist>
