<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardmapper</key>
	<string>customizedBinary</string>
	<key>boxResponse</key>
	<string>startinstruction</string>
	<key>deferreddialogstension</key>
	<string>enabledsensor</string>
	<key>signSaturation</key>
	<string>contrastAcceleration</string>
	<key>statelessGram</key>
	<string>heroPattern</string>
	<key>temporaryPolygon</key>
	<string>schemaScale</string>
</dict>
</plist>
