<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowPosition</key>
	<string>shouldUnmountDecoration</string>
	<key>connectorOffset</key>
	<string>moduleRate</string>
	<key>greatScene</key>
	<string>canUnmountedMedia</string>
	<key>hierarchicalElement</key>
	<string>shouldRouteLabel</string>
	<key>listviewVelocity</key>
	<string>tabviewAction</string>
	<key>mediocrePicker</key>
	<string>dropoutInjection</string>
	<key>originalStoryboard</key>
	<string>canLayoutBuilder</string>
	<key>presentercomponent</key>
	<string>makeCompleter</string>
	<key>sequentialBinary</key>
	<string>usedBatch</string>
	<key>singleDropdownButton</key>
	<string>seekTopic</string>
</dict>
</plist>
