<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPosition</key>
	<string>sharedentropy</string>
	<key>futureobject</key>
	<string>overlayFlyweight</string>
	<key>persistentSubscription</key>
	<string>mendMode</string>
	<key>positionenvironmentbehavior</key>
	<string>resilientConstant</string>
	<key>shouldListenNotifier</key>
	<string>typicalStroke</string>
	<key>shouldrebuildbutton</key>
	<string>drawerDepth</string>
	<key>sortedOccasion</key>
	<string>concatenateManager</string>
	<key>storagevalidation</key>
	<string>localCollection</string>
	<key>transitionhue</key>
	<string>cacheVariable</string>
</dict>
</plist>
