<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorSkewY</key>
	<string>symmetricScroller</string>
	<key>dedicatedBinder</key>
	<string>compareSink</string>
	<key>dynamicRenderer</key>
	<string>adjustError</string>
	<key>interactiveStep</key>
	<string>canResumeModal</string>
	<key>originalSchema</key>
	<string>shouldDispatchStoryboard</string>
	<key>publisherflags</key>
	<string>canReplaceCupertino</string>
	<key>restoreposition</key>
	<string>deserializeCube</string>
	<key>roleMode</key>
	<string>greattransition</string>
	<key>singlePublisher</key>
	<string>resilienceSaturation</string>
	<key>standalonerect</key>
	<string>responsiveEvent</string>
</dict>
</plist>
