<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInterface</key>
	<string>inflateChart</string>
	<key>disabledArithmetic</key>
	<string>animatedConfidentiality</string>
	<key>displayableSpecifier</key>
	<string>directlyConfidentiality</string>
	<key>firstCharacter</key>
	<string>entityphaseinterval</string>
	<key>flexibleInitiators</key>
	<string>substantialCanvas</string>
	<key>graphformtransparency</key>
	<string>catalystCenter</string>
	<key>navigatorbridgespeed</key>
	<string>endAnchor</string>
	<key>resizableNotifier</key>
	<string>canKeepIcon</string>
	<key>synchronousCoordinator</key>
	<string>showDialogs</string>
	<key>synchronousProgressBar</key>
	<string>normalImpression</string>
</dict>
</plist>
