<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeObject</key>
	<string>substantialDialogs</string>
	<key>errorevolution</key>
	<string>singletonTransparency</string>
	<key>firstmodalappearance</key>
	<string>intermediateChecklist</string>
	<key>giftbeyondsystem</key>
	<string>scheduleTopic</string>
	<key>indicatorCoord</key>
	<string>dynamicRouter</string>
	<key>relationalThroughput</key>
	<string>inheriteddistinction</string>
	<key>shouldMountedTangent</key>
	<string>usecaseStyle</string>
	<key>shouldrestartaspectratio</key>
	<string>maxModal</string>
</dict>
</plist>
