<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spotversusvalue</key>
	<string>shouldParseText</string>
	<key>statefulprototypeoffset</key>
	<string>canLayoutIcon</string>
	<key>subtleScaffold</key>
	<string>transformDialogs</string>
	<key>threadCenter</key>
	<string>processBinary</string>
</dict>
</plist>
