<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivematerial</key>
	<string>tappableController</string>
	<key>autoThroughput</key>
	<string>significantDocument</string>
	<key>containerLocation</key>
	<string>mutableSkirt</string>
	<key>customizedWrapper</key>
	<string>containerexceptvisitor</string>
	<key>newestLocalization</key>
	<string>largeFlex</string>
	<key>seamlessPreview</key>
	<string>signTransparency</string>
	<key>sharedSelector</key>
	<string>shouldEmitStateful</string>
	<key>subscribeinteger</key>
	<string>shouldpersistgradient</string>
</dict>
</plist>
