<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerservice</key>
	<string>vectoruntilcommand</string>
	<key>checkboxFrequency</key>
	<string>iconSpeed</string>
	<key>ondurationtap</key>
	<string>providerrotation</string>
	<key>responsiveTicker</key>
	<string>integerworkresponse</string>
</dict>
</plist>
