<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocpressure</key>
	<string>keyGradient</string>
	<key>cosinesink</key>
	<string>discoverVector</string>
	<key>relationalTriangles</key>
	<string>batchinterval</string>
	<key>shouldDispatchResource</key>
	<string>cubitTier</string>
	<key>shouldUpdateAlpha</key>
	<string>persistBox</string>
	<key>typicalTabBar</key>
	<string>mainIntensity</string>
</dict>
</plist>
