<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableSpecifier</key>
	<string>accessibleGate</string>
	<key>customZone</key>
	<string>easyModel</string>
	<key>infoBound</key>
	<string>petSize</string>
	<key>multiplicationrenderer</key>
	<string>respectiveDelivery</string>
	<key>soundBottom</key>
	<string>gramOpacity</string>
	<key>storename</key>
	<string>graphicBridge</string>
	<key>substantialMaterializer</key>
	<string>findLabel</string>
</dict>
</plist>
