<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerpatternspacing</key>
	<string>declarativeConsumer</string>
	<key>customizedPreview</key>
	<string>crudeBox</string>
	<key>discardedBandwidth</key>
	<string>apertureDensity</string>
	<key>ephemeralOption</key>
	<string>introspectPreview</string>
	<key>ephemeralSymbol</key>
	<string>diffableSwift</string>
	<key>immutableSpot</key>
	<string>streamtexture</string>
	<key>lazychannelsstyle</key>
	<string>sustainableoffset</string>
	<key>localSession</key>
	<string>unaryInteraction</string>
	<key>managerlocation</key>
	<string>tensorMomentum</string>
</dict>
</plist>
