<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousdimensionskewy</key>
	<string>hyperbolicvertex</string>
	<key>enabledGift</key>
	<string>canRebuildArithmetic</string>
	<key>shouldDeserializeMaterial</key>
	<string>measureCoordinator</string>
	<key>shouldReplaceCollection</key>
	<string>notifyScreen</string>
	<key>workflowperdecorator</key>
	<string>mediaqueryprovider</string>
</dict>
</plist>
