<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerInterval</key>
	<string>dispatchCapacities</string>
	<key>meshindex</key>
	<string>containeramongfacade</string>
	<key>remainderdespiteadapter</key>
	<string>lockboxshadow</string>
	<key>themeInteraction</key>
	<string>diffableThreshold</string>
	<key>uniqueActivity</key>
	<string>trianglesMode</string>
</dict>
</plist>
