<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryKind</key>
	<string>interactiveTitle</string>
	<key>attachmatrix</key>
	<string>richtextEnvironment</string>
	<key>backwardbehaviorspacing</key>
	<string>chooserIndex</string>
	<key>geometricEvent</key>
	<string>mediocreLocalization</string>
	<key>protectedselector</key>
	<string>typicalContainer</string>
	<key>requestBottom</key>
	<string>occasiontag</string>
	<key>sceneTint</key>
	<string>equalbitrate</string>
	<key>specifyCell</key>
	<string>beginnerplate</string>
	<key>textfielduntildecorator</key>
	<string>cosineCoord</string>
</dict>
</plist>
