<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticConstant</key>
	<string>displayableinjection</string>
	<key>dataInset</key>
	<string>receiverTransparency</string>
	<key>mediumConvolution</key>
	<string>encoderichtext</string>
	<key>mobileDocument</key>
	<string>listenerkind</string>
	<key>paintgraphic</key>
	<string>decodeReducer</string>
	<key>rapidCharacter</key>
	<string>permissiveGestureDetector</string>
	<key>reduceservice</key>
	<string>invisibleEvolution</string>
	<key>shouldNavigateMatrix</key>
	<string>checkboxCommand</string>
</dict>
</plist>
