<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardlabelinterval</key>
	<string>channelslikeadapter</string>
	<key>graphDistance</key>
	<string>secondModule</string>
	<key>originalScaffold</key>
	<string>parseAppBar</string>
</dict>
</plist>
