<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnTop</key>
	<string>canDecodeThread</string>
	<key>missedRoute</key>
	<string>keepMember</string>
	<key>sophisticatedloophead</key>
	<string>uniformDecoration</string>
</dict>
</plist>
