<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioForce</key>
	<string>canInitializeStamp</string>
	<key>cartesianProjection</key>
	<string>evolutionScale</string>
	<key>dedicatedClipper</key>
	<string>binaryvisibility</string>
	<key>discardedError</key>
	<string>consultativePageView</string>
	<key>exponentqueue</key>
	<string>trainTheme</string>
	<key>rapidTimeline</key>
	<string>iterativeLoop</string>
	<key>temporaryFinder</key>
	<string>actionSkewY</string>
</dict>
</plist>
