<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorthreshold</key>
	<string>positionedthanparameter</string>
	<key>delicatedurationbottom</key>
	<string>crucialProfile</string>
	<key>descriptionOpacity</key>
	<string>mediocreCombiner</string>
	<key>geometricHeap</key>
	<string>resolverPadding</string>
	<key>ignoredDecoration</key>
	<string>symmetricUtil</string>
	<key>isBoxShadow</key>
	<string>cartesianDimension</string>
	<key>publicResource</key>
	<string>setupScene</string>
	<key>statelessEvent</key>
	<string>functionalConnector</string>
	<key>subscriptionresponse</key>
	<string>featureAction</string>
</dict>
</plist>
