<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateDelivery</key>
	<string>globalAsync</string>
	<key>denseCombiner</key>
	<string>delegateincludeform</string>
	<key>displayablefuturecolor</key>
	<string>singletonbeyondstrategy</string>
	<key>liteTask</key>
	<string>shouldEncodeBoxShadow</string>
	<key>shouldShowCursor</key>
	<string>topicSingleton</string>
	<key>widgetTransparency</key>
	<string>copyRect</string>
	<key>wrapperVelocity</key>
	<string>musicSaturation</string>
</dict>
</plist>
