<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardDensity</key>
	<string>attachstack</string>
	<key>contrastSkewX</key>
	<string>ignoredScreen</string>
	<key>featureofstate</key>
	<string>transpileNode</string>
	<key>normScale</key>
	<string>seamlessHash</string>
	<key>selectedGesture</key>
	<string>canListenDrawer</string>
	<key>shouldProcessLoss</key>
	<string>completionBehavior</string>
	<key>shouldTransitionNotification</key>
	<string>shouldAttachRoute</string>
	<key>substantialactionposition</key>
	<string>subsequentRenderer</string>
	<key>tabbarOffset</key>
	<string>shouldNavigateAnchor</string>
	<key>unbindgrain</key>
	<string>reusableLocalization</string>
</dict>
</plist>
