<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableEquivalent</key>
	<string>decorationObserver</string>
	<key>disparateRadius</key>
	<string>originalNib</string>
	<key>isFuture</key>
	<string>blocamongshape</string>
	<key>resizablesprite</key>
	<string>writeText</string>
	<key>roleRate</key>
	<string>cubeviastrategy</string>
	<key>statefulSymbol</key>
	<string>tabbarVelocity</string>
	<key>strengthInteraction</key>
	<string>chartSystem</string>
	<key>strokeFormat</key>
	<string>granularSample</string>
	<key>textureInterval</key>
	<string>otherProjection</string>
</dict>
</plist>
