<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerReliability</key>
	<string>backwardCollection</string>
	<key>shouldFormatCell</key>
	<string>canFormatDocument</string>
	<key>synchronousPlate</key>
	<string>canNotifySubpixel</string>
</dict>
</plist>
