<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chooserDelay</key>
	<string>asynchronouspopup</string>
	<key>disparateTolerance</key>
	<string>aspectratioStyle</string>
	<key>grayscaleBottom</key>
	<string>animatedController</string>
	<key>gridPosition</key>
	<string>customMultiplication</string>
	<key>hasThread</key>
	<string>canSerializeFragment</string>
	<key>resizableLifecycle</key>
	<string>shouldPauseTouch</string>
	<key>shouldDisposeAccessory</key>
	<string>smartSkin</string>
	<key>subtleRouter</key>
	<string>drawerVisitor</string>
	<key>tableStyle</key>
	<string>nativePlayback</string>
</dict>
</plist>
