<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionindex</key>
	<string>bulletAppearance</string>
	<key>mainLifecycle</key>
	<string>characteristicresponse</string>
	<key>priorSkin</key>
	<string>semanticRemainder</string>
	<key>standaloneMetadata</key>
	<string>connectRect</string>
</dict>
</plist>
