<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledlayer</key>
	<string>fusedUsage</string>
	<key>flexibleCubit</key>
	<string>trainBatch</string>
	<key>intuitivetouch</key>
	<string>descriptorradius</string>
	<key>pivotalspritetension</key>
	<string>contractionTail</string>
	<key>smallView</key>
	<string>subscribeCanvas</string>
	<key>statelessBinder</key>
	<string>lossthroughprototype</string>
	<key>typicalDocument</key>
	<string>backwardCombiner</string>
	<key>volumeAppearance</key>
	<string>previewexceptenvironment</string>
</dict>
</plist>
