<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthHue</key>
	<string>advancedCharacteristic</string>
	<key>combineinstruction</key>
	<string>cartesianElasticity</string>
	<key>gridappearance</key>
	<string>sophisticatedSlash</string>
	<key>onprofilechanged</key>
	<string>graphforce</string>
	<key>symmetricSingleton</key>
	<string>hyperbolicplatetint</string>
	<key>unmountsize</key>
	<string>shapeLocation</string>
	<key>usedJoiner</key>
	<string>dropoutprovider</string>
</dict>
</plist>
