<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateddrawer</key>
	<string>canLoadGem</string>
	<key>endcontroller</key>
	<string>hierarchicalConsumption</string>
	<key>menuwithoutstrategy</key>
	<string>firstRange</string>
	<key>otherFinder</key>
	<string>sliderbottom</string>
	<key>semanticNode</key>
	<string>channelDistance</string>
	<key>specifierdecoratorindex</key>
	<string>hasMap</string>
</dict>
</plist>
