<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionState</key>
	<string>equivalentOrientation</string>
	<key>chapterInterval</key>
	<string>shouldRenderListView</string>
	<key>concreteMapper</key>
	<string>elementBehavior</string>
	<key>shouldConnectGift</key>
	<string>setstateSample</string>
	<key>skirtsingleton</key>
	<string>shouldParseOption</string>
</dict>
</plist>
