<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelState</key>
	<string>shouldpublishchannels</string>
	<key>lazySkirt</key>
	<string>sliderComposite</string>
	<key>shouldPopTable</key>
	<string>exponentduringdecorator</string>
	<key>singleDocument</key>
	<string>completedMomentum</string>
	<key>subsequentgrainposition</key>
	<string>handlerWork</string>
	<key>tentativeKind</key>
	<string>disabledResource</string>
</dict>
</plist>
