<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionForce</key>
	<string>mapNumber</string>
	<key>captionContrast</key>
	<string>instantiateAwait</string>
	<key>directlyPrecision</key>
	<string>transposecapsule</string>
	<key>enabledFilter</key>
	<string>makeMethod</string>
	<key>interactiveController</key>
	<string>localizationrotation</string>
	<key>popupactivitydirection</key>
	<string>symmetricStateful</string>
	<key>publiclayername</key>
	<string>selectedPageView</string>
	<key>shouldSkipScroll</key>
	<string>yieldUnary</string>
	<key>trainconstraint</key>
	<string>hascycle</string>
</dict>
</plist>
