<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticvarorientation</key>
	<string>disposePet</string>
	<key>concreteScreen</key>
	<string>resilientFeature</string>
	<key>ignoredQuaternion</key>
	<string>nextMaster</string>
	<key>invisibleStamp</key>
	<string>nibJob</string>
	<key>screentail</key>
	<string>persistgrid</string>
	<key>staticCapacity</key>
	<string>resizeDescription</string>
	<key>subsequentException</key>
	<string>canPaintResource</string>
	<key>tappablePageView</key>
	<string>reactiveSlider</string>
</dict>
</plist>
