<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAppearance</key>
	<string>benchmarkSlider</string>
	<key>inheritedEntity</key>
	<string>layoutcube</string>
	<key>losttouchspacing</key>
	<string>futureParameter</string>
	<key>processstream</key>
	<string>shouldUnmountSemantics</string>
	<key>responseTop</key>
	<string>multiplyRadius</string>
	<key>reusableEquivalent</key>
	<string>robustAccessory</string>
	<key>shouldPublishMaster</key>
	<string>autoTimer</string>
	<key>shouldStopUsage</key>
	<string>rowOffset</string>
	<key>symbolMomentum</key>
	<string>volumeOpacity</string>
</dict>
</plist>
