<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineOrigin</key>
	<string>listenCard</string>
	<key>currentSignature</key>
	<string>smartSearcher</string>
	<key>customInterpolation</key>
	<string>shouldCreateModal</string>
	<key>functionalmodal</key>
	<string>canvasBorder</string>
	<key>opaqueScope</key>
	<string>usageSkewX</string>
</dict>
</plist>
