<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCube</key>
	<string>rapidPolyfill</string>
	<key>alignmentTint</key>
	<string>tweenTheme</string>
	<key>animatevariant</key>
	<string>originalSwitch</string>
	<key>numericalSplitter</key>
	<string>gradientForce</string>
	<key>onswiftchanged</key>
	<string>canSetStateProfile</string>
	<key>rangeBehavior</key>
	<string>offsetCoord</string>
	<key>removehero</key>
	<string>polyfillVisible</string>
	<key>retainedScope</key>
	<string>canPopStoryboard</string>
	<key>scrollBound</key>
	<string>generateStore</string>
	<key>shouldCacheProtocol</key>
	<string>animatedentity</string>
</dict>
</plist>
