<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryforce</key>
	<string>parseAspect</string>
	<key>cardwithoutmemento</key>
	<string>createpopup</string>
	<key>directSwift</key>
	<string>symmetricRectangle</string>
	<key>disabledReference</key>
	<string>greatAllocator</string>
	<key>discoverdocument</key>
	<string>priorityProcess</string>
	<key>missedTexture</key>
	<string>priorChooser</string>
	<key>shouldsetstatedecoration</key>
	<string>delicateUnary</string>
	<key>slashcenter</key>
	<string>positionedPressure</string>
	<key>substantialSink</key>
	<string>dedicatedRemediation</string>
	<key>widgetlikeoperation</key>
	<string>createinkwell</string>
</dict>
</plist>
