<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticClipper</key>
	<string>gesturedirection</string>
	<key>cellinsidecontext</key>
	<string>linkerContrast</string>
	<key>shouldLoadSkirt</key>
	<string>responderTint</string>
	<key>shouldPersistCertificate</key>
	<string>clearFrame</string>
	<key>spineBound</key>
	<string>variantVelocity</string>
	<key>unlocktext</key>
	<string>lostLayout</string>
</dict>
</plist>
