<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalRepository</key>
	<string>symboldepth</string>
	<key>cycleacceleration</key>
	<string>requestPopup</string>
	<key>intuitiveModal</key>
	<string>invisibleBinary</string>
	<key>metadataRight</key>
	<string>invisiblecertificateflags</string>
	<key>spineKind</key>
	<string>hyperbolicThroughput</string>
	<key>threadmodetag</key>
	<string>canListenTabBar</string>
</dict>
</plist>
