<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexFormat</key>
	<string>desktopSpot</string>
	<key>responsiveItem</key>
	<string>relationalScroll</string>
	<key>shouldAttachSlash</key>
	<string>accessoryFramework</string>
	<key>unactivatedTween</key>
	<string>semanticCycle</string>
</dict>
</plist>
