<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAsset</key>
	<string>maxGridView</string>
	<key>functionalThread</key>
	<string>transformerinset</string>
	<key>intuitiveInformation</key>
	<string>stamplatency</string>
	<key>rapidVideo</key>
	<string>reactivebloc</string>
	<key>shouldFormatScroll</key>
	<string>shouldSerializeText</string>
	<key>significantradiusskewy</key>
	<string>clusterSkewY</string>
	<key>volumeLocation</key>
	<string>taskkindvisibility</string>
</dict>
</plist>
