<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finderScale</key>
	<string>monsterFlags</string>
	<key>grayscaleevaluation</key>
	<string>shouldHandleAlert</string>
	<key>intermediateposition</key>
	<string>transitionChannels</string>
	<key>petduringtemple</key>
	<string>modaltierrate</string>
	<key>presenterRotation</key>
	<string>selectedoption</string>
	<key>robustFuture</key>
	<string>mobileSkewX</string>
	<key>uniqueDelegate</key>
	<string>prismaticPolygon</string>
	<key>usedStep</key>
	<string>priorSplitter</string>
</dict>
</plist>
