<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipconfiguration</key>
	<string>methodwithcycle</string>
	<key>fusedIsolate</key>
	<string>aspectratioduration</string>
	<key>gradientalignment</key>
	<string>finishGate</string>
	<key>immutableChapter</key>
	<string>transformerScope</string>
	<key>inkwellmechanism</key>
	<string>listenDocument</string>
	<key>sizecenter</key>
	<string>widgetdespitemethod</string>
	<key>uniformRemainder</key>
	<string>executeIntensity</string>
</dict>
</plist>
