<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationTail</key>
	<string>ignoredConsumer</string>
	<key>charactergraph</key>
	<string>agiletopic</string>
	<key>combinerOrientation</key>
	<string>variantFrequency</string>
	<key>difficultRichText</key>
	<string>shouldBuildTable</string>
	<key>mapperType</key>
	<string>shouldParseBorder</string>
	<key>permanentmission</key>
	<string>startInstruction</string>
	<key>persistentrange</key>
	<string>frameCycle</string>
	<key>pinchableLogarithm</key>
	<string>transformTextField</string>
	<key>shouldObserveDelegate</key>
	<string>resourceaboutkind</string>
	<key>unmounteddelegate</key>
	<string>animationJob</string>
</dict>
</plist>
