<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseTween</key>
	<string>tweakEdge</string>
	<key>desktopEmitter</key>
	<string>grainContrast</string>
	<key>dimensionBehavior</key>
	<string>mediaAction</string>
	<key>emitterStyle</key>
	<string>observerfinder</string>
	<key>grayscaleShade</key>
	<string>thresholdType</string>
	<key>imageVelocity</key>
	<string>interpolateCoordinator</string>
	<key>kernelAppearance</key>
	<string>checkboxanalyzer</string>
	<key>missionskewy</key>
	<string>resilientContrast</string>
	<key>navigatorthreshold</key>
	<string>canDismissBoxShadow</string>
</dict>
</plist>
