<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedManager</key>
	<string>generatecertificate</string>
	<key>draggableRenderer</key>
	<string>boxinset</string>
	<key>firsttentative</key>
	<string>sophisticatedText</string>
	<key>shouldDisposeExponent</key>
	<string>heroValue</string>
	<key>shouldunmountbuilder</key>
	<string>newestConsumption</string>
	<key>sinkstate</key>
	<string>annotateEntity</string>
	<key>streammethod</key>
	<string>shouldNotifyCapsule</string>
	<key>sustainableEvent</key>
	<string>projectionStatus</string>
</dict>
</plist>
