<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedType</key>
	<string>accordionLoss</string>
	<key>functionalSignature</key>
	<string>behaviordirection</string>
	<key>interfacekind</key>
	<string>wrapperDepth</string>
	<key>pivotalIsolate</key>
	<string>difficultData</string>
	<key>symmetricdrawer</key>
	<string>uniformEquivalent</string>
</dict>
</plist>
