<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTitle</key>
	<string>optimizerPlatform</string>
	<key>blocScale</key>
	<string>scrollDecorator</string>
	<key>cupertinoTimeline</key>
	<string>canKeepChannels</string>
	<key>disclaimerDensity</key>
	<string>exceptionPattern</string>
	<key>interactiveAlert</key>
	<string>equipmentEdge</string>
	<key>intermediateChannels</key>
	<string>fusedObserver</string>
	<key>missedCallback</key>
	<string>storagethanproxy</string>
	<key>normalconstraintinset</key>
	<string>effectSpeed</string>
	<key>secondindicator</key>
	<string>shouldRebuildSpecifier</string>
	<key>sessionPressure</key>
	<string>hashLeft</string>
</dict>
</plist>
