<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveProject</key>
	<string>inactiveRemainder</string>
	<key>difficultPoint</key>
	<string>shouldValidateHistogram</string>
	<key>ephemeralmatrixpressure</key>
	<string>scrollerRate</string>
	<key>flexibleGate</key>
	<string>navigateUtil</string>
	<key>lockfragment</key>
	<string>canContinuePriority</string>
	<key>opaqueSink</key>
	<string>subsequentPopup</string>
	<key>scrollableEqualization</key>
	<string>shouldUnbindDocument</string>
	<key>shouldDeserializeSwitch</key>
	<string>specifierDistance</string>
	<key>usedgraphformat</key>
	<string>liteWorkflow</string>
	<key>variantKind</key>
	<string>invokeRouter</string>
</dict>
</plist>
