<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deliveryRight</key>
	<string>canSetStateInstruction</string>
	<key>firstComposition</key>
	<string>reusableEffect</string>
	<key>multiTask</key>
	<string>bitrateInterpreter</string>
</dict>
</plist>
