<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateCount</key>
	<string>triggerRate</string>
	<key>channelbeyonddecorator</key>
	<string>listenerType</string>
	<key>currentReduction</key>
	<string>semanticTabBar</string>
	<key>initializedelegate</key>
	<string>retainedCatalyst</string>
	<key>zonerect</key>
	<string>combineIntensity</string>
</dict>
</plist>
