<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveGram</key>
	<string>canRenderBullet</string>
	<key>formatSkewY</key>
	<string>functionaldelegate</string>
	<key>giftState</key>
	<string>smallProject</string>
	<key>hardconsumermode</key>
	<string>intuitivePlate</string>
	<key>interactiveVolume</key>
	<string>handleDescriptor</string>
	<key>sharedCustomPaint</key>
	<string>reactiveDocument</string>
	<key>statelessbloc</key>
	<string>allocateContainer</string>
	<key>uniformflex</key>
	<string>popreducer</string>
	<key>webSelector</key>
	<string>shouldKeepPlate</string>
</dict>
</plist>
