<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileOverlay</key>
	<string>custominjectionstate</string>
	<key>converterInset</key>
	<string>canAnimateDuration</string>
	<key>currentInteger</key>
	<string>shouldTransformPet</string>
	<key>greatRemediation</key>
	<string>requestShape</string>
	<key>scenepatternedge</key>
	<string>singleStamp</string>
</dict>
</plist>
