<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledreducer</key>
	<string>invisiblePrecision</string>
	<key>equalizationcenter</key>
	<string>strengthResponse</string>
	<key>storeCenter</key>
	<string>containercolor</string>
</dict>
</plist>
