<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleModel</key>
	<string>canRestartTabBar</string>
	<key>associatedLifecycle</key>
	<string>sanitizeStorage</string>
	<key>featureDistance</key>
	<string>multiResource</string>
	<key>integerCenter</key>
	<string>rendertable</string>
	<key>movefuture</key>
	<string>scrollableConsumption</string>
	<key>shouldObserveBinary</key>
	<string>trianglesColor</string>
</dict>
</plist>
