<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableDelegate</key>
	<string>canStartRole</string>
	<key>shoulddismissspecifier</key>
	<string>descriptioninpattern</string>
</dict>
</plist>
