<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticperlevel</key>
	<string>dispatchCharacter</string>
	<key>dedicatedDelegate</key>
	<string>switchKind</string>
	<key>featurefrequency</key>
	<string>unmountedNavigation</string>
	<key>independentChallenge</key>
	<string>textActivity</string>
	<key>materialPoint</key>
	<string>pickerDistance</string>
	<key>shouldConnectCertificate</key>
	<string>animationMargin</string>
	<key>shouldtransitionthread</key>
	<string>synchronizeSize</string>
</dict>
</plist>
