<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionVector</key>
	<string>toleranceLocation</string>
	<key>dynamicpet</key>
	<string>secondPreview</string>
	<key>immutableTween</key>
	<string>deliveryShade</string>
	<key>imperativebatch</key>
	<string>denseCapacity</string>
	<key>respectiveRectangle</key>
	<string>mediumStorage</string>
	<key>statelessintegrity</key>
	<string>canRenderLabel</string>
	<key>stepevent</key>
	<string>routerComposite</string>
</dict>
</plist>
