<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePosition</key>
	<string>canTrainBrush</string>
	<key>animateconvolution</key>
	<string>frameandparameter</string>
	<key>concreteconsumption</key>
	<string>subsequentScene</string>
	<key>directAmortization</key>
	<string>concurrentmaprate</string>
	<key>listenersystemtype</key>
	<string>chartStatus</string>
	<key>mechanismTint</key>
	<string>persistentConnector</string>
	<key>polyfillTail</key>
	<string>markTransition</string>
	<key>shouldCreateSubpixel</key>
	<string>masterMethod</string>
	<key>strengthDensity</key>
	<string>endShader</string>
	<key>techniqueVelocity</key>
	<string>unmountscreen</string>
</dict>
</plist>
