<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAperture</key>
	<string>iconInset</string>
	<key>cartesianRadius</key>
	<string>unmountSignature</string>
	<key>currentcontrollerfrequency</key>
	<string>differentiatePopup</string>
	<key>deserializereducer</key>
	<string>reflectLayout</string>
	<key>optimizerFrequency</key>
	<string>taxonomyCenter</string>
	<key>videoState</key>
	<string>listenfactory</string>
	<key>widgetcommandright</key>
	<string>similarrouterflags</string>
</dict>
</plist>
