<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scalabilityColor</key>
	<string>canUpdateBorder</string>
	<key>schedulerTransparency</key>
	<string>replaceChapter</string>
	<key>significantTimer</key>
	<string>initializeTransformer</string>
	<key>sizeState</key>
	<string>sortedStream</string>
	<key>tickertop</key>
	<string>symmetricMatrix</string>
	<key>unactivatedMultiplication</key>
	<string>resourceoftask</string>
</dict>
</plist>
