<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableCell</key>
	<string>ephemeralTicker</string>
	<key>loadpreview</key>
	<string>formatAnimation</string>
	<key>permanentTheme</key>
	<string>canAttachOperation</string>
	<key>rapidCursor</key>
	<string>canLayoutInkWell</string>
	<key>typicalGroup</key>
	<string>endLog</string>
</dict>
</plist>
