<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGestureDetector</key>
	<string>subtlehandler</string>
	<key>baseDirection</key>
	<string>unregisterTitle</string>
	<key>canceltween</key>
	<string>accessibleRepository</string>
	<key>customVolume</key>
	<string>concatenateroute</string>
	<key>inheritedPopup</key>
	<string>aspectratioVisible</string>
	<key>interactiveTopic</key>
	<string>updateLog</string>
	<key>resourcecommandindex</key>
	<string>shouldStreamTask</string>
	<key>robustmodeldelay</key>
	<string>drawerPosition</string>
	<key>specifieramongprototype</key>
	<string>controllerdistance</string>
</dict>
</plist>
