<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyOption</key>
	<string>textureDirection</string>
	<key>greatWorkflow</key>
	<string>shouldFormatTabBar</string>
	<key>imperativeScope</key>
	<string>binderright</string>
	<key>intermediateMenu</key>
	<string>entitySaturation</string>
	<key>multiStrength</key>
	<string>smartComponent</string>
	<key>sequentialAlert</key>
	<string>shouldTransitionTouch</string>
	<key>shouldContinueSession</key>
	<string>specifierWork</string>
	<key>shouldSetStateRemainder</key>
	<string>canDisposeColumn</string>
	<key>singleDependency</key>
	<string>storyboardtransparency</string>
	<key>unsortedCharacteristic</key>
	<string>otherRequest</string>
</dict>
</plist>
