<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalRemediation</key>
	<string>framePhase</string>
	<key>primaryConsumption</key>
	<string>disposeTheme</string>
	<key>shouldDeserializeStateless</key>
	<string>desktopError</string>
	<key>shouldInitializePriority</key>
	<string>activityduringkind</string>
	<key>shouldMountedBehavior</key>
	<string>uniformcupertinovelocity</string>
</dict>
</plist>
