<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disclaimerStyle</key>
	<string>displayablelayout</string>
	<key>sharedchannels</key>
	<string>canTrainPlate</string>
	<key>shouldCancelTechnique</key>
	<string>destroyParticle</string>
	<key>sortedSensor</key>
	<string>permissiveCapsule</string>
</dict>
</plist>
