<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedPlate</key>
	<string>effectinterval</string>
	<key>dropdownbuttonOpacity</key>
	<string>enabledGroup</string>
	<key>occasionTheme</key>
	<string>symbolwithcycle</string>
	<key>sophisticatedinkwelltension</key>
	<string>sortedFuture</string>
</dict>
</plist>
