<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeAscent</key>
	<string>activatedTabView</string>
	<key>deploynode</key>
	<string>endSegue</string>
	<key>disabledAnalyzer</key>
	<string>beginnerProvision</string>
	<key>polygonVisible</key>
	<string>mountImage</string>
	<key>requestcatalyst</key>
	<string>shouldTransformGift</string>
	<key>shouldstreamcoordinator</key>
	<string>shearMetadata</string>
	<key>signjobsize</key>
	<string>shouldSaveIndicator</string>
	<key>smallAnimator</key>
	<string>unactivatedpresenter</string>
</dict>
</plist>
