<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteclipperbrightness</key>
	<string>shouldUnmountWorkflow</string>
	<key>gradientborder</key>
	<string>shouldStopGrayscale</string>
	<key>nativeAwait</key>
	<string>mainStoryboard</string>
	<key>radiusaction</key>
	<string>storyboardshape</string>
	<key>standaloneRestriction</key>
	<string>serializeEffect</string>
</dict>
</plist>
