<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTernary</key>
	<string>flexibleDispatcher</string>
	<key>contractionRight</key>
	<string>shouldListenExponent</string>
	<key>cubitmode</key>
	<string>skipprojection</string>
	<key>flextail</key>
	<string>usecasetension</string>
	<key>keyIntegration</key>
	<string>amortizationOpacity</string>
	<key>listendescriptor</key>
	<string>visibleChallenge</string>
	<key>richtextContrast</key>
	<string>euclideanbutton</string>
	<key>spotTension</key>
	<string>infoPressure</string>
</dict>
</plist>
