<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionbinder</key>
	<string>pinchableColor</string>
	<key>interactiveBrush</key>
	<string>unsortedPolygon</string>
	<key>localSplitter</key>
	<string>shouldInflateObserver</string>
	<key>mapacceleration</key>
	<string>streamstructurebound</string>
	<key>shouldNotifyAspectRatio</key>
	<string>createResult</string>
</dict>
</plist>
