<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateasset</key>
	<string>referenceTail</string>
	<key>checkboxAcceleration</key>
	<string>commonCapacities</string>
	<key>compositionalTaxonomy</key>
	<string>greatGradient</string>
	<key>resultdistance</key>
	<string>independentBitrate</string>
	<key>semanticGate</key>
	<string>euclideanReducer</string>
	<key>shouldDisposeContraction</key>
	<string>relationalChart</string>
	<key>viewbufferforce</key>
	<string>textContrast</string>
</dict>
</plist>
