<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticGestureDetector</key>
	<string>refactorChapter</string>
	<key>documenttype</key>
	<string>createChannel</string>
	<key>draggableItem</key>
	<string>canSetStateProtocol</string>
	<key>heapRotation</key>
	<string>previewname</string>
	<key>largeAspect</key>
	<string>agileMobile</string>
	<key>mediumMovement</key>
	<string>shouldTrainActivity</string>
	<key>statefulobject</key>
	<string>sharedSign</string>
	<key>upgrademethod</key>
	<string>intuitiveTriangles</string>
</dict>
</plist>
