<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedIntensity</key>
	<string>canConnectSine</string>
	<key>comprehensiveInterface</key>
	<string>columnDensity</string>
	<key>constraintinterface</key>
	<string>firstFlex</string>
	<key>customizedDrawer</key>
	<string>sinkSize</string>
	<key>shouldContinueDelegate</key>
	<string>alphaEdge</string>
	<key>ternaryDensity</key>
	<string>persistFuture</string>
</dict>
</plist>
