<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedIntensity</key>
	<string>linkerSaturation</string>
	<key>graphexceptprocess</key>
	<string>overlaySpacing</string>
	<key>originalDistinction</key>
	<string>elasticEqualization</string>
	<key>parsebloc</key>
	<string>multiplicationDecorator</string>
	<key>retainedExponent</key>
	<string>rebuildCapacities</string>
	<key>seamlessMomentum</key>
	<string>tasktint</string>
	<key>subpixeledge</key>
	<string>publicskirtposition</string>
	<key>tappablezone</key>
	<string>crucialDimension</string>
	<key>unsortedVector</key>
	<string>kernelForm</string>
	<key>visibleCurve</key>
	<string>coordinatorRate</string>
</dict>
</plist>
