<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>invisibleBoxShadow</key>
	<string>spotLeft</string>
	<key>mobileRemediation</key>
	<string>canDetachColumn</string>
	<key>plateFeedback</key>
	<string>consultativeEqualization</string>
	<key>reductionTail</key>
	<string>routerSkewY</string>
	<key>shouldPublishMultiplication</key>
	<string>effectCount</string>
	<key>sliderproxystyle</key>
	<string>layoutimpression</string>
	<key>sustainableReference</key>
	<string>bindBullet</string>
</dict>
</plist>
