<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mountedclipper</key>
	<string>baseMediator</string>
	<key>multiGradient</key>
	<string>observeLayer</string>
	<key>seamlessSemantics</key>
	<string>directlySearcher</string>
	<key>significantGem</key>
	<string>nibatobserver</string>
</dict>
</plist>
