<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedModal</key>
	<string>shouldRebuildSignature</string>
	<key>hyperbolicboxstatus</key>
	<string>resilientDescriptor</string>
	<key>originalStack</key>
	<string>errorType</string>
</dict>
</plist>
