<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normalEmitter</key>
	<string>parseSkin</string>
	<key>otherchannelinterval</key>
	<string>respectiveScaffold</string>
	<key>retainedComposition</key>
	<string>cancelPageView</string>
	<key>shouldPopSpine</key>
	<string>decorationlocation</string>
	<key>sophisticatedState</key>
	<string>standaloneTolerance</string>
	<key>statefulFormat</key>
	<string>enabledDistinction</string>
	<key>temporaryOccasion</key>
	<string>reusablehandler</string>
</dict>
</plist>
