<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronouscupertinoborder</key>
	<string>deprecateNode</string>
	<key>compositionalStatus</key>
	<string>canUnmountVariant</string>
	<key>difficultChannels</key>
	<string>crudeCard</string>
	<key>discardedtransformerbrightness</key>
	<string>smartBorder</string>
	<key>normalModel</key>
	<string>signTension</string>
	<key>otherFragments</key>
	<string>canConnectText</string>
	<key>primaryequalizationduration</key>
	<string>trainCell</string>
	<key>shouldpaintclipper</key>
	<string>intensityValidation</string>
	<key>trianglestransparency</key>
	<string>permissiveChooser</string>
</dict>
</plist>
