<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanpainter</key>
	<string>sustainableLog</string>
	<key>shouldStreamRichText</key>
	<string>uniqueSwitch</string>
	<key>similarpositionmomentum</key>
	<string>sustainableCapacity</string>
	<key>statelessException</key>
	<string>explicitRenderer</string>
	<key>temporaryJoiner</key>
	<string>equivalentCoord</string>
	<key>timeSpeed</key>
	<string>desktopcubitfeedback</string>
	<key>typicalShader</key>
	<string>extensionAlignment</string>
</dict>
</plist>
