<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticSubpixel</key>
	<string>equivalentDirection</string>
	<key>nextActivity</key>
	<string>adaptiveReceiver</string>
	<key>prismaticStrength</key>
	<string>latencyorientation</string>
	<key>radiusShade</key>
	<string>concreteRemediation</string>
	<key>reactiveController</key>
	<string>clearTitle</string>
	<key>similarInterpolation</key>
	<string>canHandleBinary</string>
</dict>
</plist>
