<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardstreamborder</key>
	<string>imperativeGraph</string>
	<key>catalystprototypefeedback</key>
	<string>shouldcanceldialogs</string>
	<key>protocolColor</key>
	<string>completionFlyweight</string>
	<key>tasktype</key>
	<string>explicitTabBar</string>
</dict>
</plist>
