<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>informationHead</key>
	<string>sequentialcollection</string>
	<key>publictransitionforce</key>
	<string>contractionVar</string>
	<key>reactiveSize</key>
	<string>infoAppearance</string>
	<key>shouldattachwidget</key>
	<string>mediocreinitiative</string>
	<key>subtleBinary</key>
	<string>associateTimer</string>
</dict>
</plist>
