<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianmanagertheme</key>
	<string>newestreducer</string>
	<key>enabledBase</key>
	<string>hardInformation</string>
	<key>enabledScope</key>
	<string>saveaperture</string>
	<key>listviewCoord</key>
	<string>itemBottom</string>
</dict>
</plist>
