<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedgridviewpadding</key>
	<string>restoreException</string>
	<key>convolutionmode</key>
	<string>consultativeImpression</string>
	<key>onexpandedtap</key>
	<string>immediateModule</string>
	<key>permanentContrast</key>
	<string>mendFrequency</string>
	<key>synchronousException</key>
	<string>emithash</string>
</dict>
</plist>
