<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileStorage</key>
	<string>prevCompleter</string>
	<key>shouldTrainScaffold</key>
	<string>canFormatAccessory</string>
	<key>sortedAnimation</key>
	<string>loopchainleft</string>
	<key>statedistance</key>
	<string>substantialReliability</string>
	<key>tensorException</key>
	<string>durationininterpreter</string>
</dict>
</plist>
