<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasTransparency</key>
	<string>taskassingleton</string>
	<key>capacitiesorvariable</key>
	<string>startProfile</string>
	<key>oldGate</key>
	<string>controllertweak</string>
	<key>pointaroundlevel</key>
	<string>handlerVisibility</string>
</dict>
</plist>
