<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lazyImpact</key>
	<string>locateContainer</string>
	<key>moduleBottom</key>
	<string>singleSchema</string>
	<key>mountasset</key>
	<string>inactiveLoop</string>
	<key>shouldRouteContainer</key>
	<string>completionawayvar</string>
	<key>usedIntegrity</key>
	<string>boxshadowtyperight</string>
</dict>
</plist>
