<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultmodulus</key>
	<string>animateChannel</string>
	<key>disabledResponder</key>
	<string>clipperPattern</string>
	<key>functionalInitiative</key>
	<string>parallelText</string>
	<key>mediocreawait</key>
	<string>canPrepareStamp</string>
	<key>parselocalization</key>
	<string>canValidateSlash</string>
	<key>respectiveGrid</key>
	<string>beginnerMechanism</string>
	<key>webIsolate</key>
	<string>othercarddistance</string>
</dict>
</plist>
