<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetinnumber</key>
	<string>respectiveNotation</string>
	<key>integerrectangle</key>
	<string>continueSpine</string>
	<key>robustLayer</key>
	<string>dropdownbuttonVar</string>
	<key>significantSorter</key>
	<string>flexiblemodal</string>
	<key>smartBoxShadow</key>
	<string>optimizeropacity</string>
	<key>unsortedSegment</key>
	<string>sharedScope</string>
</dict>
</plist>
