<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitParticle</key>
	<string>connectdropdownbutton</string>
	<key>heaplikecommand</key>
	<string>canPopGift</string>
	<key>interactiveModel</key>
	<string>expandedProxy</string>
	<key>linkerDirection</key>
	<string>sophisticatederrormode</string>
	<key>semanticsaudio</key>
	<string>curveCount</string>
	<key>shouldDeserializeGrayscale</key>
	<string>activatedgateflags</string>
	<key>unarydisclaimer</key>
	<string>shouldCancelFragment</string>
</dict>
</plist>
