<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileHistogram</key>
	<string>cacheVariant</string>
	<key>callbackdistance</key>
	<string>canNavigateCoordinator</string>
	<key>colorOffset</key>
	<string>mastertheme</string>
	<key>consultativeResponder</key>
	<string>reflectOffset</string>
	<key>curvekindtension</key>
	<string>desktopTabView</string>
	<key>quaternionFlags</key>
	<string>batchFacade</string>
	<key>restrictionTheme</key>
	<string>disparateOverlay</string>
	<key>sampleBound</key>
	<string>memberSpeed</string>
	<key>setstatetangent</key>
	<string>stampWork</string>
	<key>shouldRebuildTouch</key>
	<string>configurationawaystate</string>
</dict>
</plist>
