<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerImpression</key>
	<string>imageOrigin</string>
	<key>cardresponse</key>
	<string>hasRoute</string>
	<key>disposeerror</key>
	<string>linkerHead</string>
	<key>fusedTabBar</key>
	<string>optimizerAcceleration</string>
	<key>gateticker</key>
	<string>formatSaturation</string>
	<key>histogramHead</key>
	<string>observerFrequency</string>
</dict>
</plist>
