<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorCoord</key>
	<string>storageComposite</string>
	<key>bindervalidation</key>
	<string>localizationedge</string>
	<key>fixedModulus</key>
	<string>disabledConnector</string>
	<key>linkerSkewY</key>
	<string>sequentialSensor</string>
	<key>robustmonster</key>
	<string>temporarySchema</string>
	<key>videoMomentum</key>
	<string>shouldConnectPageView</string>
</dict>
</plist>
