<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAnimator</key>
	<string>shouldStopAspect</string>
	<key>encodeunary</key>
	<string>analogyForce</string>
	<key>ephemeralCompleter</key>
	<string>encodeusecase</string>
	<key>fusedAxis</key>
	<string>unsortedHero</string>
	<key>immediatestate</key>
	<string>geometricScroller</string>
	<key>shouldPauseCertificate</key>
	<string>activatedScroller</string>
	<key>shouldUpdatePainter</key>
	<string>ascentLeft</string>
	<key>shouldfinishspecifier</key>
	<string>imperativeGestureDetector</string>
	<key>shouldobservebloc</key>
	<string>integerScale</string>
	<key>unactivatedShader</key>
	<string>layoutInkWell</string>
</dict>
</plist>
