<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentstate</key>
	<string>flexSpeed</string>
	<key>basicModule</key>
	<string>gateStrategy</string>
	<key>disparateLogarithm</key>
	<string>autoExpanded</string>
	<key>factoryRotation</key>
	<string>gramShape</string>
	<key>hardRecursion</key>
	<string>binaryanalogy</string>
	<key>missedResolver</key>
	<string>concurrentBuilder</string>
	<key>shouldNotifyCustomPaint</key>
	<string>publishProfile</string>
</dict>
</plist>
