<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSizedBox</key>
	<string>observerHead</string>
	<key>concretevolume</key>
	<string>substantialAccessory</string>
	<key>diversifiedInstruction</key>
	<string>canTransformMedia</string>
	<key>isChallenge</key>
	<string>symbolSpeed</string>
	<key>mediumrowposition</key>
	<string>inkwellScale</string>
	<key>opaquefactorycolor</key>
	<string>previewHue</string>
	<key>pivotalEvolution</key>
	<string>conformLayout</string>
	<key>publicFinder</key>
	<string>channelsasset</string>
	<key>reactiveTitle</key>
	<string>bundleChapter</string>
	<key>shouldCancelTabView</key>
	<string>canObserveSensor</string>
</dict>
</plist>
