<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedFormat</key>
	<string>respondObserver</string>
	<key>aspectlayertension</key>
	<string>sharedDescriptor</string>
	<key>captionreplica</key>
	<string>materialCupertino</string>
	<key>hyperbolicMap</key>
	<string>grainparamlocation</string>
	<key>sorterEdge</key>
	<string>seekProgressBar</string>
</dict>
</plist>
