<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactiveBuilder</key>
	<string>markRect</string>
	<key>methodcoord</key>
	<string>samplePosition</string>
	<key>multiplicationTint</key>
	<string>consultativeOccasion</string>
	<key>notificationAlignment</key>
	<string>concreteAnalyzer</string>
</dict>
</plist>
