<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continuemargin</key>
	<string>decodeAlignment</string>
	<key>cycleborder</key>
	<string>sophisticatedTime</string>
	<key>fragmentslocation</key>
	<string>showOverlay</string>
	<key>icondistance</key>
	<string>consultativeStoryboard</string>
	<key>methodHead</key>
	<string>uniformsizespeed</string>
	<key>mobileanimation</key>
	<string>observeTitle</string>
	<key>responseobserver</key>
	<string>logMode</string>
	<key>scrollableTentative</key>
	<string>buttonmomentum</string>
	<key>shouldLayoutScreen</key>
	<string>resolveBuffer</string>
</dict>
</plist>
