<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferflyweightvisible</key>
	<string>shouldStopCertificate</string>
	<key>continuescreen</key>
	<string>unsortedReceiver</string>
	<key>diffableDecoration</key>
	<string>mobileConverter</string>
	<key>frameduringstate</key>
	<string>transformeroccasion</string>
	<key>invisibleWidget</key>
	<string>semanticPadding</string>
	<key>nextEfficiency</key>
	<string>spineTag</string>
	<key>pivotalWorkflow</key>
	<string>asyncdensity</string>
	<key>precisionshade</key>
	<string>specifieroutsidevalue</string>
	<key>unsortedDropdownButton</key>
	<string>flexibleScreen</string>
</dict>
</plist>
