<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseText</key>
	<string>asynchronousFragment</string>
	<key>extensionFormat</key>
	<string>gemSaturation</string>
	<key>firstSession</key>
	<string>respectiveCard</string>
	<key>modulusBound</key>
	<string>permanentSign</string>
	<key>popupasdecorator</key>
	<string>newestConverter</string>
	<key>schemaContrast</key>
	<string>secondGift</string>
	<key>scrollableheap</key>
	<string>flexibleTime</string>
	<key>taskDuration</key>
	<string>stackRate</string>
</dict>
</plist>
