<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveentity</key>
	<string>subsequentMethod</string>
	<key>advancedProjection</key>
	<string>shouldfetchslash</string>
	<key>criticalBuilder</key>
	<string>formatLoss</string>
	<key>cycleInteraction</key>
	<string>delicateloss</string>
	<key>elasticFuture</key>
	<string>popPlayback</string>
	<key>previewRate</key>
	<string>sceneBrightness</string>
	<key>scrollresilience</key>
	<string>hardMonster</string>
	<key>sustainablenib</key>
	<string>shouldDecodeScale</string>
</dict>
</plist>
