<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFrequency</key>
	<string>scaleParameter</string>
	<key>permanentCosine</key>
	<string>bitrateRight</string>
	<key>projectKind</key>
	<string>statusDuration</string>
	<key>sharedGrain</key>
	<string>offsetTask</string>
	<key>singleHero</key>
	<string>gesturedetectorCommand</string>
	<key>substantialHash</key>
	<string>canUnmountedSignature</string>
</dict>
</plist>
