<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorTag</key>
	<string>aspectVisitor</string>
	<key>buttonselector</key>
	<string>wrapFrame</string>
	<key>enabledresilience</key>
	<string>associateConfiguration</string>
	<key>injectionmementobottom</key>
	<string>webParticle</string>
	<key>interactiveTable</key>
	<string>appbarSaturation</string>
	<key>layoutMomentum</key>
	<string>uniformlayerstyle</string>
	<key>shouldHandleClipper</key>
	<string>maxBullet</string>
	<key>shouldnavigatedialogs</key>
	<string>errordrawer</string>
	<key>smallTime</key>
	<string>granularSubscription</string>
	<key>sustainableBox</key>
	<string>emitTool</string>
</dict>
</plist>
