<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaBorder</key>
	<string>createNotifier</string>
	<key>difficultResilience</key>
	<string>certificateFrequency</string>
	<key>efficiencyForce</key>
	<string>handlePadding</string>
	<key>hierarchicalMend</key>
	<string>cacheBorder</string>
	<key>materializerTint</key>
	<string>compositionalrouteoffset</string>
	<key>nextButton</key>
	<string>difficultPositioned</string>
	<key>retainedPriority</key>
	<string>shouldKeepCard</string>
	<key>reusableintensity</key>
	<string>notifyWidget</string>
	<key>tickerresilience</key>
	<string>shouldNotifyAppBar</string>
	<key>visibleTexture</key>
	<string>tensorAnchor</string>
</dict>
</plist>
