<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryproxyright</key>
	<string>sinkContrast</string>
	<key>hasremainder</key>
	<string>canNotifyShader</string>
	<key>hierarchicalProgressBar</key>
	<string>inflateZone</string>
	<key>interfaceobservertag</key>
	<string>hardScene</string>
	<key>optimizebinary</key>
	<string>topicaroundbuffer</string>
	<key>optionColor</key>
	<string>difficultbloc</string>
	<key>renderextension</key>
	<string>convolutionSkewX</string>
</dict>
</plist>
