<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalGrain</key>
	<string>difficultParticle</string>
	<key>currentSingleton</key>
	<string>normalScenario</string>
	<key>delicateWidget</key>
	<string>notifyHistogram</string>
	<key>imperativeCombiner</key>
	<string>unsortedtopic</string>
	<key>richtextShade</key>
	<string>prepareSegue</string>
	<key>selectedInstruction</key>
	<string>encodeExpanded</string>
	<key>shouldresumenib</key>
	<string>canBuildRoute</string>
</dict>
</plist>
