<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDispatcher</key>
	<string>disconnectMetadata</string>
	<key>functionalStore</key>
	<string>requestequivalent</string>
	<key>localConstraint</key>
	<string>dedicatedDrawer</string>
	<key>originalStamp</key>
	<string>kernelLocation</string>
	<key>providerRotation</key>
	<string>movementFunction</string>
	<key>shouldRouteNotification</key>
	<string>shouldRenderClipper</string>
	<key>smallthread</key>
	<string>canRestartComposition</string>
</dict>
</plist>
