<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedBitrate</key>
	<string>canSkipSample</string>
	<key>dependencystatus</key>
	<string>concreteMusic</string>
	<key>resizabletouch</key>
	<string>seamlessProgressBar</string>
	<key>smartReceiver</key>
	<string>popupCoord</string>
	<key>spritepressure</key>
	<string>sensorSpacing</string>
</dict>
</plist>
