<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopSensor</key>
	<string>unaryCoord</string>
	<key>mutablefragmenthue</key>
	<string>masterResponse</string>
	<key>offsetDelay</key>
	<string>easyStore</string>
	<key>popupincludeframework</key>
	<string>operationMemento</string>
	<key>searcherStyle</key>
	<string>defaultTable</string>
	<key>staticVideo</key>
	<string>equipmentForce</string>
</dict>
</plist>
