<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDispatcher</key>
	<string>canRouteImage</string>
	<key>elasticityInteraction</key>
	<string>logarithmVisibility</string>
	<key>graphbridgebrightness</key>
	<string>configurationright</string>
	<key>impactName</key>
	<string>seamlessReduction</string>
	<key>polygonOpacity</key>
	<string>materializeEntity</string>
	<key>setstatemember</key>
	<string>descriptionVisible</string>
	<key>subsequentIndicator</key>
	<string>resizeButton</string>
</dict>
</plist>
