<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autodecoration</key>
	<string>deflateResult</string>
	<key>deferredEquipment</key>
	<string>ignoredReceiver</string>
	<key>detailvelocity</key>
	<string>showTransformer</string>
	<key>diffableNavigation</key>
	<string>scrollerTail</string>
	<key>hierarchicalEvolution</key>
	<string>observerstyleorigin</string>
	<key>injectionFormat</key>
	<string>connectmaterial</string>
	<key>pagerfrequency</key>
	<string>substantialIsolate</string>
	<key>shouldEncodeBatch</key>
	<string>gateTier</string>
	<key>shouldattachternary</key>
	<string>nativeScenario</string>
	<key>timeraboutcycle</key>
	<string>canProcessProtocol</string>
</dict>
</plist>
