<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilePublisher</key>
	<string>firstConvolution</string>
	<key>boxshadowposition</key>
	<string>isSemantics</string>
	<key>criticalChannels</key>
	<string>queueincontext</string>
	<key>fixedCertificate</key>
	<string>priorFinder</string>
	<key>functionalnavigatormomentum</key>
	<string>geometricCluster</string>
	<key>independentLayout</key>
	<string>holdSubscription</string>
	<key>mobileVideo</key>
	<string>curveoperationscale</string>
	<key>priorAperture</key>
	<string>sessionTheme</string>
	<key>progressbarresponse</key>
	<string>columnAlignment</string>
	<key>publicRecursion</key>
	<string>smartImpression</string>
</dict>
</plist>
