<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTechnique</key>
	<string>canDispatchLayout</string>
	<key>animatesensor</key>
	<string>analyzeMenu</string>
	<key>checkboxprovider</key>
	<string>lazyProtocol</string>
	<key>desktopnode</key>
	<string>mediumFinder</string>
	<key>prismaticSkirt</key>
	<string>associatedpositionedfeedback</string>
	<key>recttype</key>
	<string>granularVertex</string>
	<key>sophisticatedIcon</key>
	<string>platecolor</string>
	<key>topicascent</key>
	<string>publicEntropy</string>
</dict>
</plist>
