<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerShade</key>
	<string>shouldProcessBuilder</string>
	<key>mendValidation</key>
	<string>currentSymbol</string>
	<key>profilemethodpressure</key>
	<string>shouldFetchRichText</string>
	<key>sophisticatedProgressBar</key>
	<string>factoryPadding</string>
</dict>
</plist>
