<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffablePicker</key>
	<string>refreshcanvas</string>
	<key>discardedContainer</key>
	<string>independentRepository</string>
	<key>disparateCompleter</key>
	<string>flexibleCanvas</string>
	<key>exceptionVisible</key>
	<string>canObserveLoss</string>
	<key>fusedSymbol</key>
	<string>specifySingleton</string>
	<key>futurematerial</key>
	<string>activeprojection</string>
	<key>hashValidation</key>
	<string>optionAppearance</string>
	<key>imperativeUnary</key>
	<string>synchronousMetrics</string>
	<key>loopCoord</key>
	<string>shouldBuildOptimizer</string>
	<key>subtlescreen</key>
	<string>pageviewmode</string>
</dict>
</plist>
