<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatortimeline</key>
	<string>interfaceStage</string>
	<key>respectiveResult</key>
	<string>protocolState</string>
	<key>significantTangent</key>
	<string>sharedRecursion</string>
	<key>statefulProvision</key>
	<string>attachRichText</string>
</dict>
</plist>
