<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticscopecenter</key>
	<string>textfieldProxy</string>
	<key>asynchronousStore</key>
	<string>animateProfile</string>
	<key>baselineKind</key>
	<string>gatewithvisitor</string>
	<key>cachecolor</key>
	<string>streamSemantics</string>
	<key>equalizationshapesaturation</key>
	<string>elasticarithmetic</string>
	<key>iterativeOption</key>
	<string>curveStructure</string>
	<key>responsiveStorage</key>
	<string>requestChain</string>
	<key>retainedCompleter</key>
	<string>unsortedChecklist</string>
	<key>tableType</key>
	<string>granularAction</string>
	<key>uniformAspect</key>
	<string>retainSize</string>
</dict>
</plist>
