<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryOrientation</key>
	<string>canCacheExtension</string>
	<key>boxshadowFormat</key>
	<string>featurespacing</string>
	<key>completionForce</key>
	<string>lifecycleBorder</string>
	<key>exceptionDelay</key>
	<string>ignoredScroll</string>
	<key>multiplicationBrightness</key>
	<string>visibleEvolution</string>
	<key>nativeScreen</key>
	<string>boxParameter</string>
	<key>pageviewloader</key>
	<string>copyResource</string>
	<key>schedulerIndex</key>
	<string>usageSystem</string>
	<key>sequentialTimer</key>
	<string>buttonDelay</string>
</dict>
</plist>
