<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicatemenuappearance</key>
	<string>responsiveSchema</string>
	<key>scaffoldorchain</key>
	<string>shouldskipgraphic</string>
	<key>scopeState</key>
	<string>quantizationmetadata</string>
	<key>zoneOrientation</key>
	<string>equipmentForce</string>
</dict>
</plist>
