<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalText</key>
	<string>intuitiveHero</string>
	<key>impressionPosition</key>
	<string>accordionBoxShadow</string>
	<key>prevcharacteristic</key>
	<string>animatedConsumption</string>
	<key>shouldDismissBox</key>
	<string>sustainablecurvealignment</string>
	<key>shouldLayoutCustomPaint</key>
	<string>projectTail</string>
	<key>spineloader</key>
	<string>polyfillBorder</string>
	<key>ternarybutton</key>
	<string>mediumGrid</string>
</dict>
</plist>
