<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeResponse</key>
	<string>tangentStyle</string>
	<key>cubedelay</key>
	<string>progressbarVisible</string>
	<key>desktopContainer</key>
	<string>textinstage</string>
	<key>directlySwift</key>
	<string>respectiveTime</string>
	<key>entitysystemfeedback</key>
	<string>sceneTask</string>
	<key>frameDirection</key>
	<string>sessionPrototype</string>
	<key>infrastructuretheme</key>
	<string>tickerparameterleft</string>
	<key>largeChannel</key>
	<string>bindCapsule</string>
	<key>listenerorientation</key>
	<string>traininteger</string>
	<key>shouldStartComposition</key>
	<string>canValidateMovement</string>
</dict>
</plist>
