<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedslider</key>
	<string>canHandleSkirt</string>
	<key>basicBehavior</key>
	<string>protectedSpine</string>
	<key>ignoredzone</key>
	<string>statefulArchitecture</string>
	<key>releaseexponent</key>
	<string>slashMethod</string>
	<key>semanticsopacity</key>
	<string>primaryHistogram</string>
	<key>shouldCreateOptimizer</key>
	<string>strengthMargin</string>
	<key>shouldPushTool</key>
	<string>imperativepet</string>
	<key>shouldResumeNavigation</key>
	<string>invisibleMaterial</string>
	<key>tensorBuffer</key>
	<string>fillFeature</string>
	<key>transitioncommandhue</key>
	<string>accessibleTool</string>
</dict>
</plist>
