<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationanimation</key>
	<string>awaitCount</string>
	<key>associatedStore</key>
	<string>detachPrecision</string>
	<key>dependencytentative</key>
	<string>sortedGroup</string>
	<key>masterKind</key>
	<string>allocatorMemento</string>
	<key>pivotalChecklist</key>
	<string>menuParameter</string>
	<key>referencestorage</key>
	<string>buttonoffset</string>
	<key>shouldContinueStream</key>
	<string>publicMovement</string>
	<key>trianglesCenter</key>
	<string>canCancelGradient</string>
	<key>visibleDelegate</key>
	<string>similarComposition</string>
	<key>wrappresenter</key>
	<string>optionStage</string>
</dict>
</plist>
