<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePicker</key>
	<string>metadataType</string>
	<key>composableAxis</key>
	<string>generateRepository</string>
	<key>inkwellRate</key>
	<string>consultativeCluster</string>
	<key>interpolationColor</key>
	<string>similarLifecycle</string>
	<key>istable</key>
	<string>mediaqueryTask</string>
	<key>liteSound</key>
	<string>persistentTopic</string>
	<key>mountedposition</key>
	<string>floatService</string>
	<key>resolvecheckbox</key>
	<string>basemodealignment</string>
	<key>secondAnalogy</key>
	<string>cellDuration</string>
	<key>tensorEqualization</key>
	<string>presentDialogs</string>
</dict>
</plist>
