<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorName</key>
	<string>floatConstraint</string>
	<key>crucialScale</key>
	<string>firstBoxShadow</string>
	<key>graphicBehavior</key>
	<string>geometricContainer</string>
	<key>nextShader</key>
	<string>materialCommand</string>
	<key>reactiveConstant</key>
	<string>concreteSign</string>
</dict>
</plist>
