<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerTension</key>
	<string>baselineSingleton</string>
	<key>criticalNotifier</key>
	<string>inflateAlert</string>
	<key>dedicatedProject</key>
	<string>challengeMemento</string>
	<key>permanentvectorsaturation</key>
	<string>maintainSprite</string>
	<key>permissiveLogarithm</key>
	<string>canLayoutCapacities</string>
	<key>typicalBitrate</key>
	<string>graphlocation</string>
	<key>unbindfuture</key>
	<string>shouldInitializeCatalyst</string>
	<key>uniquecontractionpressure</key>
	<string>detachTimer</string>
	<key>workflowbeyondshape</key>
	<string>specifyLifecycle</string>
</dict>
</plist>
