<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedContraction</key>
	<string>gramMediator</string>
	<key>hardNotifier</key>
	<string>connectorColor</string>
	<key>mobilefactory</key>
	<string>isolateForce</string>
	<key>multiplicationSaturation</key>
	<string>clipperOffset</string>
	<key>relationalSemantics</key>
	<string>otherRepository</string>
	<key>shouldTransformInteger</key>
	<string>shouldInitializeCursor</string>
	<key>subtleSkin</key>
	<string>currentLabel</string>
	<key>tickerName</key>
	<string>herodependency</string>
	<key>unactivatedDependency</key>
	<string>mechanismBrightness</string>
</dict>
</plist>
