<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticsineindex</key>
	<string>sharedCube</string>
	<key>hardDescription</key>
	<string>presentTextField</string>
	<key>mainPadding</key>
	<string>directlyDescriptor</string>
	<key>routercount</key>
	<string>declarativeVertex</string>
	<key>unactivatedConnector</key>
	<string>makeHash</string>
</dict>
</plist>
