<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectMomentum</key>
	<string>subsequentmetadataopacity</string>
	<key>comprehensivestroke</key>
	<string>shouldPopTangent</string>
	<key>defaultSign</key>
	<string>completionadaptervalidation</string>
	<key>errorVisible</key>
	<string>cursorInterpreter</string>
	<key>mobileBound</key>
	<string>semanticsBridge</string>
	<key>sharedTitle</key>
	<string>rebuildBox</string>
</dict>
</plist>
