<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentdistance</key>
	<string>sophisticatedCharacteristic</string>
	<key>characteristicHue</key>
	<string>reusableRect</string>
	<key>comprehensiveoffsetlocation</key>
	<string>resourceinactivity</string>
	<key>curvecount</key>
	<string>accessibleExpanded</string>
	<key>pinchablelayer</key>
	<string>iterativeException</string>
	<key>tabviewDuration</key>
	<string>mutablePublisher</string>
</dict>
</plist>
