<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureTransparency</key>
	<string>imperativeGrain</string>
	<key>observerorvisitor</key>
	<string>renderBase</string>
	<key>optimizerInteraction</key>
	<string>impactalignment</string>
	<key>popupForce</key>
	<string>canRestartDialogs</string>
	<key>relationalUnary</key>
	<string>projectionSkewX</string>
	<key>singletonShape</key>
	<string>similarContrast</string>
	<key>themeTop</key>
	<string>musicOperation</string>
	<key>toleranceInterval</key>
	<string>shouldPublishHistogram</string>
	<key>variantBottom</key>
	<string>cosineEdge</string>
	<key>vertexEdge</key>
	<string>hashDuration</string>
</dict>
</plist>
