<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitQueue</key>
	<string>shouldPushSample</string>
	<key>mountskirt</key>
	<string>currentCard</string>
	<key>respectivecheckboxposition</key>
	<string>shouldNavigateButton</string>
</dict>
</plist>
