<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorresponse</key>
	<string>bundleZone</string>
	<key>evaluationShape</key>
	<string>shouldPaintMultiplication</string>
	<key>exceptionRotation</key>
	<string>stringifyTransformer</string>
	<key>explicitStore</key>
	<string>positionContrast</string>
	<key>permanentButton</key>
	<string>connectArithmetic</string>
	<key>textTransparency</key>
	<string>efficiencySize</string>
</dict>
</plist>
