<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCenter</key>
	<string>dependencyofframework</string>
	<key>dispatchstorage</key>
	<string>canDisconnectMomentum</string>
	<key>gesturedetectorEdge</key>
	<string>permanentVariant</string>
	<key>iterativerestriction</key>
	<string>gridCount</string>
	<key>searchbase</key>
	<string>unmountSine</string>
	<key>sessionFrequency</key>
	<string>particleDecorator</string>
	<key>shouldInflateOptimizer</key>
	<string>removePresenter</string>
</dict>
</plist>
