<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonTouch</key>
	<string>mutableSensor</string>
	<key>operationBorder</key>
	<string>smartObject</string>
	<key>resilientMonster</key>
	<string>positionCount</string>
	<key>sessionMargin</key>
	<string>retainedProvision</string>
	<key>storebridgeedge</key>
	<string>typicalMenu</string>
	<key>traversalBehavior</key>
	<string>quitTask</string>
</dict>
</plist>
