<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphajobcoord</key>
	<string>cubitDirection</string>
	<key>completerDelay</key>
	<string>cubitorstrategy</string>
	<key>largeImpression</key>
	<string>customNib</string>
	<key>popgrayscale</key>
	<string>persistentDelegate</string>
	<key>positionmomentum</key>
	<string>retrieveChannel</string>
	<key>priorStatus</key>
	<string>routecontextformat</string>
	<key>usageValidation</key>
	<string>greatCard</string>
</dict>
</plist>
