<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertaroundchain</key>
	<string>semanticsadaptertype</string>
	<key>containerthanprototype</key>
	<string>canUnbindGesture</string>
	<key>opaqueObserver</key>
	<string>writeHash</string>
	<key>shouldTransitionHero</key>
	<string>materialInfrastructure</string>
	<key>subsequentTentative</key>
	<string>criticalPriority</string>
</dict>
</plist>
