<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelRight</key>
	<string>publishPlayback</string>
	<key>directlyFrame</key>
	<string>scaleBrightness</string>
	<key>hyperbolicCapacities</key>
	<string>renderervisible</string>
	<key>parallelAperture</key>
	<string>themewrapper</string>
	<key>publishutil</key>
	<string>disparateRenderer</string>
	<key>recursionRight</key>
	<string>setupBuffer</string>
	<key>scrollShape</key>
	<string>loadFuture</string>
	<key>spineTail</key>
	<string>sampleRotation</string>
	<key>sustainableSpine</key>
	<string>substantialSpine</string>
	<key>symmetricPlayback</key>
	<string>otherBinary</string>
</dict>
</plist>
