<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalConfiguration</key>
	<string>mountedScroll</string>
	<key>lazyConsumer</key>
	<string>architectureRate</string>
	<key>liteZone</key>
	<string>reflectdrawer</string>
	<key>modelDelay</key>
	<string>plateTint</string>
	<key>publisherFrequency</key>
	<string>bulletObserver</string>
	<key>reflectwidget</key>
	<string>usedTaxonomy</string>
	<key>sensorFeedback</key>
	<string>interceptChapter</string>
	<key>standalonespotindex</key>
	<string>instantiateProvider</string>
	<key>subscriptionBorder</key>
	<string>missedSize</string>
</dict>
</plist>
