<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionaboutvariable</key>
	<string>combineIntensity</string>
	<key>localAnimator</key>
	<string>coordinatorStrategy</string>
	<key>retainedtangentcoord</key>
	<string>denseVideo</string>
	<key>transpiledocument</key>
	<string>rowtail</string>
	<key>vectorindex</key>
	<string>loadSample</string>
</dict>
</plist>
