<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxcontextbound</key>
	<string>plateandvar</string>
	<key>containernotation</key>
	<string>certificateVar</string>
	<key>graphicBottom</key>
	<string>basicarchitecture</string>
	<key>mutableFlex</key>
	<string>resilientNorm</string>
	<key>statusFormat</key>
	<string>transformInterpolation</string>
</dict>
</plist>
