<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBullet</key>
	<string>popWorkflow</string>
	<key>accordionTraversal</key>
	<string>canEmitUnary</string>
	<key>activeBloc</key>
	<string>notifyhero</string>
	<key>channelContrast</key>
	<string>resilientobserverorientation</string>
	<key>consumecupertino</key>
	<string>asynchronousDescent</string>
	<key>initiatorsRight</key>
	<string>rebuildgraphic</string>
	<key>presenterEdge</key>
	<string>materialUnary</string>
	<key>shouldSerializeScale</key>
	<string>listenRow</string>
	<key>shouldparseactivity</key>
	<string>subsequentCollection</string>
	<key>unsortedShape</key>
	<string>currentCustomPaint</string>
</dict>
</plist>
