<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerBrightness</key>
	<string>scheduleAsset</string>
	<key>deferredBinary</key>
	<string>immutableSine</string>
	<key>difficultEquipment</key>
	<string>saveSpecifier</string>
	<key>protectedStateless</key>
	<string>canRenderStack</string>
	<key>storefromjob</key>
	<string>semanticMechanism</string>
</dict>
</plist>
