<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTime</key>
	<string>audioMode</string>
	<key>autopromisehead</key>
	<string>defaultheap</string>
	<key>modalprototypesaturation</key>
	<string>fusedConverter</string>
	<key>robustProfile</key>
	<string>canNavigateResource</string>
</dict>
</plist>
