<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attachchallenge</key>
	<string>permissiveconfigurationflags</string>
	<key>containercycleleft</key>
	<string>notationContrast</string>
	<key>disposeview</key>
	<string>stopCosine</string>
	<key>monsterForce</key>
	<string>processInstruction</string>
	<key>operationsingletonvalidation</key>
	<string>webError</string>
	<key>tabbarOrientation</key>
	<string>handleListener</string>
	<key>tweenColor</key>
	<string>canEncodeTextField</string>
</dict>
</plist>
