<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitInterval</key>
	<string>priorTrajectory</string>
	<key>firstnotation</key>
	<string>detachCurve</string>
	<key>liteTime</key>
	<string>futurepatternbehavior</string>
	<key>originalStore</key>
	<string>imperativeListener</string>
	<key>searcherborder</key>
	<string>prismaticPresenter</string>
	<key>transformerRight</key>
	<string>granularGrayscale</string>
	<key>transitionlistener</key>
	<string>maxMaster</string>
</dict>
</plist>
