<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateAmortization</key>
	<string>activatedGift</string>
	<key>listviewCoord</key>
	<string>seamlessStroke</string>
	<key>lostLogarithm</key>
	<string>createsingleton</string>
	<key>mainProtocol</key>
	<string>optionamongpattern</string>
	<key>shouldCancelBox</key>
	<string>queuedepth</string>
	<key>shoulddetachboxshadow</key>
	<string>immutableDependency</string>
</dict>
</plist>
