<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionproxymomentum</key>
	<string>shouldTransitionTouch</string>
	<key>hierarchicalInformation</key>
	<string>configurationsound</string>
	<key>prismaticReducer</key>
	<string>alignmentRight</string>
	<key>requestDirection</key>
	<string>connectmultiplication</string>
	<key>reusableReduction</key>
	<string>basicMovement</string>
	<key>soundDuration</key>
	<string>skipGestureDetector</string>
	<key>throughputContrast</key>
	<string>dedicatedTexture</string>
	<key>tickerMode</key>
	<string>shouldLayoutMember</string>
</dict>
</plist>
