<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorStatus</key>
	<string>immutableUseCase</string>
	<key>denseFeature</key>
	<string>desktopPromise</string>
	<key>hasinteger</key>
	<string>isolatenearstyle</string>
	<key>lazyDetector</key>
	<string>profileresponse</string>
	<key>protocolPosition</key>
	<string>requestagainsttemple</string>
	<key>shoulddisposelabel</key>
	<string>shouldDismissPadding</string>
</dict>
</plist>
