<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblecolumnsaturation</key>
	<string>statelessTime</string>
	<key>cupertinoSpecifier</key>
	<string>typicalwrapper</string>
	<key>layermode</key>
	<string>recursionTheme</string>
	<key>schemacontrast</key>
	<string>normalRemainder</string>
</dict>
</plist>
