<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAnimation</key>
	<string>iterativeIntegration</string>
	<key>crucialPolygon</key>
	<string>fusedCycle</string>
	<key>deferredVertex</key>
	<string>symmetricAction</string>
	<key>firstArchitecture</key>
	<string>cupertinoChain</string>
	<key>logOrigin</key>
	<string>interactorPosition</string>
	<key>setstatecycle</key>
	<string>canDeserializePageView</string>
	<key>shouldUnbindEquipment</key>
	<string>optionplatformappearance</string>
</dict>
</plist>
