<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalAction</key>
	<string>responderPadding</string>
	<key>difficultComponent</key>
	<string>streamlineRow</string>
	<key>disabledScale</key>
	<string>joinerForce</string>
	<key>retainedprovider</key>
	<string>rapidBorder</string>
	<key>secondConfidentiality</key>
	<string>ignoredDecoration</string>
	<key>shouldAttachPlate</key>
	<string>deflateGraph</string>
</dict>
</plist>
