<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectMomentum</key>
	<string>enabledReceiver</string>
	<key>compositionalerror</key>
	<string>frameComposite</string>
	<key>listenerthanproxy</key>
	<string>flexibleEquivalent</string>
	<key>mainMission</key>
	<string>radioSpeed</string>
	<key>vectorInterval</key>
	<string>remainderparamdirection</string>
</dict>
</plist>
