<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediumAnimation</key>
	<string>polyfillTint</string>
	<key>paralleltrajectory</key>
	<string>canBuildGate</string>
	<key>priorAnalogy</key>
	<string>substantialNavigation</string>
	<key>requiredSelector</key>
	<string>vectorWork</string>
</dict>
</plist>
