<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeCursor</key>
	<string>tabbarPosition</string>
	<key>freescreen</key>
	<string>compositionalIsolate</string>
	<key>popupenvironmentskewy</key>
	<string>canRouteMonster</string>
	<key>resultright</key>
	<string>loadSine</string>
	<key>reusabledrawer</key>
	<string>overrideLoop</string>
	<key>savecatalyst</key>
	<string>shouldLayoutSlider</string>
	<key>scrollableMetadata</key>
	<string>statelessmovementstatus</string>
</dict>
</plist>
