<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioscroller</key>
	<string>lastMetrics</string>
	<key>shouldPauseSign</key>
	<string>reflectLayout</string>
	<key>shouldSerializeBehavior</key>
	<string>capacitiesAdapter</string>
</dict>
</plist>
