<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralTextField</key>
	<string>smallSize</string>
	<key>largeChallenge</key>
	<string>sizeLeft</string>
	<key>nibhead</key>
	<string>paintGraphic</string>
	<key>subscriberforce</key>
	<string>beginnerReduction</string>
</dict>
</plist>
