<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicCosine</key>
	<string>signaturequeue</string>
	<key>emitterAcceleration</key>
	<string>discoverContainer</string>
	<key>functionalRect</key>
	<string>seekTransition</string>
	<key>groupawayform</key>
	<string>ascentFormat</string>
	<key>localRepository</key>
	<string>storethroughbridge</string>
	<key>permanentLocalization</key>
	<string>autocontrast</string>
	<key>resolverResponse</key>
	<string>accelerateListener</string>
	<key>resultmend</key>
	<string>shouldMountMediaQuery</string>
	<key>tensorStream</key>
	<string>appbarIndex</string>
	<key>triggerOffset</key>
	<string>disconnectGesture</string>
</dict>
</plist>
