<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dispatcherSkewX</key>
	<string>trianglesFrequency</string>
	<key>labelRate</key>
	<string>requiredMethod</string>
	<key>providerphasestyle</key>
	<string>sampleinpattern</string>
	<key>secondPrecision</key>
	<string>smallSplitter</string>
	<key>shouldProcessOperation</key>
	<string>sanitizeState</string>
	<key>stampscheduler</key>
	<string>canUnbindFuture</string>
</dict>
</plist>
