<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardalongsystem</key>
	<string>durationOperation</string>
	<key>cupertinoReceiver</key>
	<string>projectionLevel</string>
	<key>currentSize</key>
	<string>debugChart</string>
	<key>keepmusic</key>
	<string>customlabel</string>
	<key>multiTolerance</key>
	<string>scaffoldframeworkpressure</string>
	<key>musicopacity</key>
	<string>streamlineView</string>
	<key>prevlistener</key>
	<string>shearSize</string>
	<key>relationalSegue</key>
	<string>significantMaterializer</string>
	<key>seamlessRectangle</key>
	<string>attachGestureDetector</string>
	<key>tappableproviderorigin</key>
	<string>denseParticle</string>
</dict>
</plist>
