<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeDuration</key>
	<string>elementflags</string>
	<key>displayableDropdownButton</key>
	<string>canListenLayout</string>
	<key>featurePosition</key>
	<string>shouldSerializeUsage</string>
	<key>hierarchicalPet</key>
	<string>referenceProxy</string>
	<key>parallelData</key>
	<string>keyNotation</string>
	<key>protectedFilter</key>
	<string>hasstamp</string>
	<key>shaderatactivity</key>
	<string>functionalAscent</string>
	<key>threadincludecommand</key>
	<string>loadCache</string>
	<key>toolcontextformat</key>
	<string>discardedScroller</string>
</dict>
</plist>
