<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardHero</key>
	<string>activityBehavior</string>
	<key>customizedPlate</key>
	<string>pauseConstraint</string>
	<key>defaultskirt</key>
	<string>unsortedAsync</string>
	<key>modulusFlags</key>
	<string>respectiveChapter</string>
	<key>shouldDisconnectObserver</key>
	<string>missedicon</string>
	<key>singleInitiative</key>
	<string>rowadapterborder</string>
	<key>triggerbound</key>
	<string>staticSpot</string>
	<key>webDependency</key>
	<string>scrollablescenebottom</string>
</dict>
</plist>
