<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaulttool</key>
	<string>difficultnodemomentum</string>
	<key>encodetransformer</key>
	<string>pickerBehavior</string>
	<key>entropyduration</key>
	<string>canFinishSpecifier</string>
	<key>intuitiveExpanded</key>
	<string>listviewcount</string>
	<key>permissiveTriangles</key>
	<string>sineticker</string>
	<key>shouldRebuildGradient</key>
	<string>unactivatedDelegate</string>
	<key>stepfeedback</key>
	<string>robustSorter</string>
	<key>streamaroundvar</key>
	<string>shouldShowCard</string>
	<key>subsequentTitle</key>
	<string>consumerFlags</string>
</dict>
</plist>
