<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateNorm</key>
	<string>elementFlags</string>
	<key>entitylistener</key>
	<string>processChallenge</string>
	<key>mainSpecifier</key>
	<string>offsetBound</string>
	<key>prepareskirt</key>
	<string>coordinatorsingletonkind</string>
	<key>selectedReduction</key>
	<string>strokeMode</string>
	<key>sustainableMomentum</key>
	<string>animatedInformation</string>
	<key>taxonomyTension</key>
	<string>dedicatedDispatcher</string>
	<key>viewSpacing</key>
	<string>lockEvent</string>
</dict>
</plist>
