<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentTicker</key>
	<string>shouldBuildSignature</string>
	<key>nibCount</key>
	<string>concatenateListener</string>
	<key>nibInset</key>
	<string>consultativevectoredge</string>
	<key>standaloneSkirt</key>
	<string>fillDescription</string>
	<key>substantiallabelmargin</key>
	<string>displayablePainter</string>
	<key>traversalOpacity</key>
	<string>mechanismPosition</string>
	<key>webInterface</key>
	<string>dedicatedDropdownButton</string>
</dict>
</plist>
