<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGestureDetector</key>
	<string>presenterLayer</string>
	<key>associatedPresenter</key>
	<string>backwardScalability</string>
	<key>coordinatorevaluation</key>
	<string>shouldProcessPlate</string>
	<key>quantizationlabel</key>
	<string>elasticChallenge</string>
	<key>responsiveExponent</key>
	<string>anchorDirection</string>
	<key>shouldUnmountModal</key>
	<string>delicateTask</string>
	<key>shouldfinishcache</key>
	<string>insteadtexture</string>
	<key>streamasproxy</key>
	<string>diversifiedTernary</string>
</dict>
</plist>
