<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushBrightness</key>
	<string>shouldCreateButton</string>
	<key>functionalSelector</key>
	<string>intuitiveBuilder</string>
	<key>handleframe</key>
	<string>shouldFinishScale</string>
	<key>immutableCapacities</key>
	<string>immediateInfrastructure</string>
	<key>objectcoord</key>
	<string>emitTextField</string>
	<key>scrollTransparency</key>
	<string>rowtypestate</string>
	<key>shaderBehavior</key>
	<string>cancelModulus</string>
	<key>subsequentError</key>
	<string>requiredBox</string>
	<key>topicbykind</key>
	<string>techniqueValue</string>
	<key>uniqueEvent</key>
	<string>emitterColor</string>
</dict>
</plist>
