<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerpreview</key>
	<string>channelsColor</string>
	<key>arithmeticSingleton</key>
	<string>mainReliability</string>
	<key>brushofwork</key>
	<string>decoupleButton</string>
	<key>controllerMomentum</key>
	<string>layoutBuffer</string>
	<key>customElement</key>
	<string>shouldDisconnectModulus</string>
	<key>discardedTexture</key>
	<string>injectionAction</string>
	<key>polygonDepth</key>
	<string>hardContraction</string>
	<key>shouldUnmountReduction</key>
	<string>appbarInset</string>
</dict>
</plist>
