<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatlocalization</key>
	<string>canPopExpanded</string>
	<key>histogramcontainvisitor</key>
	<string>titleTask</string>
	<key>parallelInitiative</key>
	<string>subscribeInkWell</string>
	<key>respectiveExponent</key>
	<string>grayscalehue</string>
	<key>respectiveNavigation</key>
	<string>listviewStatus</string>
</dict>
</plist>
