<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityTag</key>
	<string>sizeParameter</string>
	<key>arithmeticCosine</key>
	<string>checkboxSpacing</string>
	<key>arithmeticTween</key>
	<string>sequentialgroupopacity</string>
	<key>associatedDescription</key>
	<string>tickerpermutation</string>
	<key>characterPressure</key>
	<string>canTransformModal</string>
	<key>nativemusicposition</key>
	<string>containerorigin</string>
	<key>receiverInset</key>
	<string>uniformsubscriptionvisibility</string>
	<key>sortedMerger</key>
	<string>smartstore</string>
	<key>specifierfacadeflags</key>
	<string>statelessPosition</string>
</dict>
</plist>
