<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activateroute</key>
	<string>certificateKind</string>
	<key>analyzerposition</key>
	<string>boxshadowCount</string>
	<key>commonStatus</key>
	<string>crucialSession</string>
	<key>comprehensiveDocument</key>
	<string>elasticityInset</string>
	<key>dynamicExpanded</key>
	<string>mitigatehandler</string>
	<key>sizedboxkind</key>
	<string>otherRoute</string>
	<key>statelessExtension</key>
	<string>binderRight</string>
</dict>
</plist>
