<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCosine</key>
	<string>canMountPromise</string>
	<key>adaptiveexceptionstatus</key>
	<string>toleranceForce</string>
	<key>consultativePrecision</key>
	<string>onanimatedcontainerchanged</string>
	<key>eagerspritebottom</key>
	<string>itemOrientation</string>
	<key>segueforprototype</key>
	<string>cursorStage</string>
	<key>shouldStartTextField</key>
	<string>equivalentRight</string>
</dict>
</plist>
