<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCollection</key>
	<string>aspecttemplevisibility</string>
	<key>inactiveProvision</key>
	<string>measureinterpolation</string>
	<key>isplate</key>
	<string>delegatepressure</string>
	<key>protectedImage</key>
	<string>compositionalQuaternion</string>
	<key>shouldPaintWorkflow</key>
	<string>canPresentCapsule</string>
	<key>shouldTransitionTabBar</key>
	<string>optionRight</string>
	<key>shouldendpriority</key>
	<string>completerLeft</string>
	<key>statelessEvaluation</key>
	<string>shouldDeserializeSegue</string>
	<key>statelessanimation</key>
	<string>shouldPublishReference</string>
	<key>thresholdBound</key>
	<string>hyperbolicequalization</string>
</dict>
</plist>
