<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxlayerinterval</key>
	<string>interpolationLeft</string>
	<key>initiatorsVisible</key>
	<string>draggableStep</string>
	<key>lazyStatus</key>
	<string>relationalnib</string>
	<key>observerconfidentiality</key>
	<string>navigationdelay</string>
	<key>resilienceTop</key>
	<string>protectedMatrix</string>
	<key>schemabottom</key>
	<string>dialogsitem</string>
	<key>secondGrid</key>
	<string>statefulRectangle</string>
	<key>smallNavigator</key>
	<string>euclideanListener</string>
	<key>statelessCluster</key>
	<string>respectiveMobile</string>
	<key>unmountedradio</key>
	<string>tabviewduration</string>
</dict>
</plist>
