<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletsubscription</key>
	<string>shouldDisconnectMaterial</string>
	<key>constrainttheme</key>
	<string>chapterFlyweight</string>
	<key>crudeReliability</key>
	<string>webSwitch</string>
	<key>entropycount</key>
	<string>fragmentorigin</string>
	<key>flexibleCharacter</key>
	<string>mutableReducer</string>
	<key>gemexceptscope</key>
	<string>layoutdata</string>
	<key>interactiverepositorybound</key>
	<string>ternaryTop</string>
	<key>keyReliability</key>
	<string>localizationInterval</string>
	<key>richtextamongprototype</key>
	<string>shouldLoadNotification</string>
	<key>synchronousprotocol</key>
	<string>analyzerCount</string>
</dict>
</plist>
