<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deactivateslider</key>
	<string>dismissCapacities</string>
	<key>defaultAlpha</key>
	<string>intuitiveRepository</string>
	<key>persistentConsumer</key>
	<string>throughputSpeed</string>
	<key>shouldCancelCache</key>
	<string>routeSkewX</string>
	<key>shouldPushGem</key>
	<string>rowFramework</string>
</dict>
</plist>
