<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricNib</key>
	<string>durationAppearance</string>
	<key>hasLog</key>
	<string>compositionIndex</string>
	<key>resizableImpact</key>
	<string>asynchronousProfile</string>
	<key>selectedStep</key>
	<string>partitionState</string>
	<key>specifyDelivery</key>
	<string>synchronizeRoute</string>
	<key>storagemode</key>
	<string>topicPressure</string>
	<key>throughputTag</key>
	<string>layerJob</string>
	<key>trianglesShade</key>
	<string>compositionCenter</string>
</dict>
</plist>
