<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>herotension</key>
	<string>crucialTransition</string>
	<key>numericalFragments</key>
	<string>transformersubscriber</string>
	<key>playbackanimator</key>
	<string>shouldsavefuture</string>
	<key>rapidlayermomentum</key>
	<string>canSkipProjection</string>
	<key>rectBrightness</key>
	<string>listenstorage</string>
	<key>richtextDensity</key>
	<string>triggerShape</string>
	<key>storesplitter</key>
	<string>spinenavigator</string>
	<key>themeScale</key>
	<string>limitDuration</string>
	<key>usedConverter</key>
	<string>fetchmember</string>
</dict>
</plist>
