<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autochannelsdelay</key>
	<string>canFormatDescriptor</string>
	<key>compositionalNavigator</key>
	<string>bindsprite</string>
	<key>crucialAccessory</key>
	<string>commonGrain</string>
	<key>expandedBorder</key>
	<string>mobileStructure</string>
	<key>largeModulus</key>
	<string>shouldProcessCycle</string>
	<key>shouldMountedLog</key>
	<string>saveSegue</string>
	<key>staticappbar</key>
	<string>drawerStructure</string>
</dict>
</plist>
