<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTheme</key>
	<string>inflateInitiators</string>
	<key>asynchronousMenu</key>
	<string>mobileMargin</string>
	<key>cubeSaturation</key>
	<string>immutableSegment</string>
	<key>histogramparameterbrightness</key>
	<string>shouldSkipGem</string>
	<key>imperativeconverter</key>
	<string>canUnmountEffect</string>
	<key>monsterOffset</key>
	<string>setstateProjection</string>
	<key>sustainableAspect</key>
	<string>trajectoryType</string>
	<key>workflowBrightness</key>
	<string>independentHero</string>
</dict>
</plist>
