<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectrectangle</key>
	<string>projectionRight</string>
	<key>statefulTransformer</key>
	<string>routeSkewY</string>
	<key>taxonomyTop</key>
	<string>ignoredLifecycle</string>
	<key>usedProtocol</key>
	<string>pushcharacter</string>
</dict>
</plist>
