<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFormat</key>
	<string>fusedScreen</string>
	<key>accessorysystemorigin</key>
	<string>shouldUnmountedCard</string>
	<key>compositionalTime</key>
	<string>navigatornumbervisibility</string>
	<key>consumptionTop</key>
	<string>subpixelcycleacceleration</string>
	<key>entropyinsideshape</key>
	<string>initiativeLocation</string>
	<key>loaderDistance</key>
	<string>autoProcessor</string>
	<key>mutableModel</key>
	<string>shouldprepareconsumer</string>
	<key>showoperation</key>
	<string>inactiveTextField</string>
	<key>smartVideo</key>
	<string>statelessVertex</string>
	<key>toleranceIndex</key>
	<string>liteMovement</string>
</dict>
</plist>
