<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitModel</key>
	<string>shouldTransformTabBar</string>
	<key>heapmargin</key>
	<string>inflateIcon</string>
	<key>providerDelay</key>
	<string>enabledFinder</string>
	<key>publicActivity</key>
	<string>symmetricMedia</string>
</dict>
</plist>
