<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedProvision</key>
	<string>arithmeticimpression</string>
	<key>agileinitiative</key>
	<string>contrastMomentum</string>
	<key>inkwellShape</key>
	<string>constraintOrientation</string>
	<key>interactiveException</key>
	<string>robustSearcher</string>
	<key>parseradius</key>
	<string>handleNotification</string>
	<key>respectiveAppBar</key>
	<string>lazyWidget</string>
	<key>shouldUnmountedTechnique</key>
	<string>cupertinoExtension</string>
	<key>uniformAction</key>
	<string>variantinterpreterkind</string>
</dict>
</plist>
