<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedcapsulevisibility</key>
	<string>inactiveStep</string>
	<key>durationmargin</key>
	<string>uniqueChallenge</string>
	<key>formatsingleton</key>
	<string>canEndExponent</string>
	<key>layerfunctionborder</key>
	<string>inheritedSingleton</string>
	<key>parsehash</key>
	<string>overlayTask</string>
	<key>shouldSubscribeCustomPaint</key>
	<string>injectLayout</string>
</dict>
</plist>
