<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateDirection</key>
	<string>deserializeKernel</string>
	<key>desktopLabel</key>
	<string>significantController</string>
	<key>disparateParticle</key>
	<string>shouldDeserializeGestureDetector</string>
	<key>fixedMonster</key>
	<string>draggableMonster</string>
	<key>interactorResponse</key>
	<string>hashStructure</string>
	<key>scaffoldIndex</key>
	<string>resourcebrightness</string>
	<key>shouldPrepareStack</key>
	<string>unscheduleLabel</string>
	<key>strokeVisibility</key>
	<string>substantialIcon</string>
	<key>tappableSkirt</key>
	<string>largeEffect</string>
</dict>
</plist>
