<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultprotocol</key>
	<string>numericalIntegration</string>
	<key>fragmentsAlignment</key>
	<string>statefulSkewY</string>
	<key>graincenter</key>
	<string>offsetCoord</string>
	<key>pinchableexponent</key>
	<string>resizableLocalization</string>
	<key>resolverhandler</key>
	<string>screenFlags</string>
	<key>scrollableAxis</key>
	<string>disparateMerger</string>
	<key>symboltitle</key>
	<string>shouldYieldContraction</string>
</dict>
</plist>
