<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactorjobsaturation</key>
	<string>observeFrame</string>
	<key>normalLayer</key>
	<string>unsortedMediaQuery</string>
	<key>shouldroutecanvas</key>
	<string>cancelTangent</string>
</dict>
</plist>
