<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>annotateicon</key>
	<string>calculateService</string>
	<key>customizedBorder</key>
	<string>sustainableAmortization</string>
	<key>iconmode</key>
	<string>commonElement</string>
	<key>iterativeMultiplication</key>
	<string>shouldRebuildSlash</string>
	<key>projectionSpacing</key>
	<string>combineController</string>
	<key>sampleInterval</key>
	<string>composableResolver</string>
	<key>shouldBuildAccessory</key>
	<string>tweakSkewX</string>
	<key>shouldPaintBox</key>
	<string>activeDescriptor</string>
	<key>techniqueEdge</key>
	<string>capacitiesStage</string>
</dict>
</plist>
