<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristicBorder</key>
	<string>gridRate</string>
	<key>inheritedUsage</key>
	<string>introspectmomentum</string>
	<key>primaryNavigation</key>
	<string>shouldListenMaster</string>
	<key>shouldUnmountedMember</key>
	<string>schemashape</string>
	<key>staticFrame</key>
	<string>disabledLifecycle</string>
</dict>
</plist>
