<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableSchema</key>
	<string>immutabletabbarfeedback</string>
	<key>desktopChooser</key>
	<string>cubitMargin</string>
	<key>groupMomentum</key>
	<string>canStopFuture</string>
	<key>logarithmrepository</key>
	<string>appendAlignment</string>
	<key>optionvariablevisibility</key>
	<string>shouldTransformDimension</string>
	<key>shouldHandleMusic</key>
	<string>smallFuture</string>
</dict>
</plist>
