<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsrotation</key>
	<string>shouldemitalpha</string>
	<key>elasticNib</key>
	<string>synchronousradioleft</string>
	<key>imperativeparticlevelocity</key>
	<string>dimensionState</string>
	<key>intensityDirection</key>
	<string>rapidlayout</string>
	<key>keyExtension</key>
	<string>shouldRebuildCertificate</string>
	<key>observeternary</key>
	<string>subscriptionCount</string>
	<key>remainderBrightness</key>
	<string>profileSaturation</string>
	<key>resiliencedepth</key>
	<string>storageorigin</string>
	<key>shoulddecodeslash</key>
	<string>obtaindecoration</string>
	<key>shouldrenderspecifier</key>
	<string>shouldSkipLoss</string>
</dict>
</plist>
