<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorfacadeshape</key>
	<string>pointFacade</string>
	<key>animatedcontainerspacing</key>
	<string>projectionbottom</string>
	<key>detachbloc</key>
	<string>agileCaption</string>
	<key>missedWorkflow</key>
	<string>retainGrain</string>
	<key>otherStep</key>
	<string>integerDepth</string>
	<key>persistentGraphic</key>
	<string>hardSegment</string>
	<key>similarMargin</key>
	<string>priorityfactory</string>
	<key>singleshaderalignment</key>
	<string>flexibleInteraction</string>
	<key>variantalignment</key>
	<string>associatedAsync</string>
</dict>
</plist>
