<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionFeedback</key>
	<string>diversifiedloss</string>
	<key>concreteDistinction</key>
	<string>connectLocalization</string>
	<key>explicitAccessory</key>
	<string>setupAlignment</string>
	<key>hascosine</key>
	<string>differentiateDependency</string>
	<key>itemDelay</key>
	<string>subsequentintensity</string>
	<key>sequentialfuture</key>
	<string>scopeDelay</string>
	<key>shouldDeserializeStack</key>
	<string>dependencyComposite</string>
	<key>tableOrientation</key>
	<string>activeStateful</string>
</dict>
</plist>
