<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxRate</key>
	<string>instructionOrientation</string>
	<key>cupertinoDirection</key>
	<string>buildIcon</string>
	<key>customizedUsage</key>
	<string>canTransitionDialogs</string>
	<key>lastGift</key>
	<string>paintInstruction</string>
	<key>prevCapsule</key>
	<string>finishMaterial</string>
	<key>providepoint</key>
	<string>radioIndex</string>
	<key>shouldDecodeSession</key>
	<string>activatedStroke</string>
	<key>symmetrictext</key>
	<string>createGrayscale</string>
	<key>tickerColor</key>
	<string>repositoryCommand</string>
	<key>triggerTail</key>
	<string>mainRectangle</string>
</dict>
</plist>
