<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterSize</key>
	<string>nativeChannels</string>
	<key>geometricFilter</key>
	<string>showgram</string>
	<key>paddingDirection</key>
	<string>saveinterface</string>
	<key>pivotalGrain</key>
	<string>animateObserver</string>
	<key>shouldYieldDocument</key>
	<string>contractionname</string>
</dict>
</plist>
