<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerScale</key>
	<string>draggablereductionsize</string>
	<key>commonProgressBar</key>
	<string>keyMaterial</string>
	<key>cupertinoPolyfill</key>
	<string>pauseDialogs</string>
	<key>missedEquipment</key>
	<string>activeGift</string>
	<key>providerEdge</key>
	<string>exceptionPressure</string>
	<key>temporaryLogarithm</key>
	<string>logarithmprocessor</string>
</dict>
</plist>
