<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movementedge</key>
	<string>canPushPriority</string>
	<key>petnearsystem</key>
	<string>euclideanhistogramflags</string>
	<key>retainedSink</key>
	<string>objectCoord</string>
	<key>shouldUnmountPet</key>
	<string>streamlineSingleton</string>
	<key>subscriptionalignment</key>
	<string>integerSkewX</string>
</dict>
</plist>
