<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestMaterial</key>
	<string>tabviewthroughlayer</string>
	<key>singleProvider</key>
	<string>otherSkirt</string>
	<key>specifyConstant</key>
	<string>intuitiveCombiner</string>
</dict>
</plist>
