<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerContrast</key>
	<string>currentanimatedcontainer</string>
	<key>futurepainter</key>
	<string>entityBottom</string>
	<key>initiatorsOpacity</key>
	<string>encapsulateHandler</string>
	<key>quantizationcustompaint</key>
	<string>injectiondespitekind</string>
	<key>shouldPauseNavigator</key>
	<string>elasticColor</string>
</dict>
</plist>
