<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleSize</key>
	<string>concreteContainer</string>
	<key>operationtag</key>
	<string>momentumMargin</string>
	<key>shouldLoadBehavior</key>
	<string>logarithmStyle</string>
	<key>shouldRoutePlate</key>
	<string>conformRect</string>
	<key>shouldunbindtable</key>
	<string>canEncodeStack</string>
</dict>
</plist>
