<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTitle</key>
	<string>synchronousHash</string>
	<key>directlyConsumption</key>
	<string>sustainableTabView</string>
	<key>hierarchicalChooser</key>
	<string>nextSkin</string>
	<key>impactDepth</key>
	<string>primaryCapsule</string>
	<key>resultFlags</key>
	<string>deployMenu</string>
	<key>shaderactivitycoord</key>
	<string>optiontheme</string>
	<key>stateHead</key>
	<string>notifyStateful</string>
	<key>swiftcount</key>
	<string>canPrepareVariant</string>
	<key>videoborder</key>
	<string>subtleMatrix</string>
</dict>
</plist>
