<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAnimatedContainer</key>
	<string>callbacknearjob</string>
	<key>geometricNavigation</key>
	<string>shouldUnmountedFlex</string>
	<key>ontasktap</key>
	<string>respectivebuilder</string>
	<key>sharedBaseline</key>
	<string>smallSlash</string>
	<key>sinkvardelay</key>
	<string>discardedFlex</string>
	<key>synchronousInterpolation</key>
	<string>notationShape</string>
</dict>
</plist>
