<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionTheme</key>
	<string>clipResult</string>
	<key>intuitiveBloc</key>
	<string>shouldObserveWidget</string>
	<key>publicInitiators</key>
	<string>switchhead</string>
	<key>shouldDisconnectConsumer</key>
	<string>lockChannel</string>
	<key>shouldMountCheckbox</key>
	<string>protecteddialogstransparency</string>
</dict>
</plist>
