<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectIndex</key>
	<string>diffablePositioned</string>
	<key>buttonresponse</key>
	<string>segueSystem</string>
	<key>disparateTween</key>
	<string>criticalInitiators</string>
	<key>flexibleError</key>
	<string>shouldFormatCycle</string>
	<key>immediateDimension</key>
	<string>pivotalStamp</string>
	<key>intuitiveRepository</key>
	<string>findRow</string>
	<key>requiredDescription</key>
	<string>mediocreasynctail</string>
	<key>sizeedge</key>
	<string>shouldStartScreen</string>
</dict>
</plist>
