<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectDepth</key>
	<string>activityLocation</string>
	<key>axisfeedback</key>
	<string>draweracceleration</string>
	<key>gateRotation</key>
	<string>progressbarScale</string>
	<key>interactiveDetail</key>
	<string>modelSize</string>
	<key>intuitiveMatrix</key>
	<string>gradientperadapter</string>
	<key>largeLoop</key>
	<string>typicalDetector</string>
	<key>resizableShape</key>
	<string>lossOrientation</string>
	<key>shouldResumeCaption</key>
	<string>discardedMend</string>
	<key>sinkrotation</key>
	<string>cycleLayer</string>
	<key>validateproject</key>
	<string>directcustompaintmode</string>
</dict>
</plist>
