<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSlider</key>
	<string>searcherInteraction</string>
	<key>decorationshade</key>
	<string>capacityOffset</string>
	<key>mediumIntensity</key>
	<string>independentAsset</string>
	<key>observercontrast</key>
	<string>notifyBoxShadow</string>
	<key>observerposition</key>
	<string>unmountedPlate</string>
	<key>usageVisibility</key>
	<string>sortedNotification</string>
	<key>variantValidation</key>
	<string>anchoractionspeed</string>
</dict>
</plist>
