<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticaldependencymargin</key>
	<string>basiccardtag</string>
	<key>dynamicDropdownButton</key>
	<string>liteTopic</string>
	<key>hierarchicalModule</key>
	<string>reusableExponent</string>
	<key>liteModal</key>
	<string>currentalpha</string>
	<key>maingiftstatus</key>
	<string>isolatewithoutnumber</string>
	<key>similarComposition</key>
	<string>mutableGraph</string>
	<key>vertexHead</key>
	<string>asynchronoustopic</string>
</dict>
</plist>
