<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentChapter</key>
	<string>deferredElement</string>
	<key>diversifiedPolygon</key>
	<string>vectorCommand</string>
	<key>effectshape</key>
	<string>canStopIcon</string>
	<key>isolatefrequency</key>
	<string>utilevent</string>
	<key>publicAnimation</key>
	<string>priorsound</string>
	<key>shouldStreamAnimatedContainer</key>
	<string>notationrate</string>
	<key>shouldUnmountSpine</key>
	<string>canTrainMaterial</string>
</dict>
</plist>
