<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalBinder</key>
	<string>parsenavigation</string>
	<key>playbackEdge</key>
	<string>handleMatrix</string>
	<key>restrictionColor</key>
	<string>flexibleentropystatus</string>
	<key>shouldLayoutDrawer</key>
	<string>basicTernary</string>
	<key>taskTint</key>
	<string>canStopInterpolation</string>
</dict>
</plist>
