<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentGem</key>
	<string>compositionalManager</string>
	<key>impactName</key>
	<string>shouldProcessPainter</string>
	<key>protectedslider</key>
	<string>implementNavigator</string>
	<key>shouldValidateObserver</key>
	<string>shouldSubscribeSubpixel</string>
	<key>shouldshowproject</key>
	<string>hardvector</string>
</dict>
</plist>
