<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocskewy</key>
	<string>isolateShape</string>
	<key>cancelswitch</key>
	<string>buttoninsideadapter</string>
	<key>mountsemantics</key>
	<string>initiativeTheme</string>
	<key>protectedSpecifier</key>
	<string>formatExponent</string>
	<key>similarShape</key>
	<string>reusableChallenge</string>
	<key>smartEmitter</key>
	<string>secondModel</string>
</dict>
</plist>
