<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMonster</key>
	<string>imperativeExponent</string>
	<key>dedicatedShader</key>
	<string>declarativeTimer</string>
	<key>explicitswifttype</key>
	<string>canFetchInkWell</string>
	<key>inflatepadding</key>
	<string>challengeStage</string>
	<key>intuitiveCompleter</key>
	<string>enabledBinary</string>
	<key>oldobserver</key>
	<string>associatedLayer</string>
	<key>shouldNavigateTask</key>
	<string>analogyalignment</string>
	<key>shouldunmountedplate</key>
	<string>stackRight</string>
	<key>standaloneTopic</key>
	<string>clusterInset</string>
</dict>
</plist>
