<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretedescriptioncount</key>
	<string>initiatorsContrast</string>
	<key>globalTraversal</key>
	<string>touchHash</string>
	<key>monsterspacing</key>
	<string>promiseName</string>
	<key>numericalTime</key>
	<string>protectedBaseline</string>
	<key>optimizerflags</key>
	<string>handlerhead</string>
	<key>pivotalmediaquery</key>
	<string>histogrammomentum</string>
	<key>shouldNotifySpine</key>
	<string>reliabilityresponse</string>
	<key>shouldskiptouch</key>
	<string>notifySlash</string>
	<key>significantcatalystduration</key>
	<string>dependencyindex</string>
	<key>singleMaster</key>
	<string>dedicatedGestureDetector</string>
</dict>
</plist>
