<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRepository</key>
	<string>dynamicTangent</string>
	<key>beginnerVideo</key>
	<string>localhandlerposition</string>
	<key>euclideandelegateappearance</key>
	<string>buildgem</string>
	<key>gridviewFeedback</key>
	<string>connectorOffset</string>
	<key>injectionfrequency</key>
	<string>locateHash</string>
	<key>semanticTopic</key>
	<string>shouldPrepareMediaQuery</string>
</dict>
</plist>
