<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerSkewY</key>
	<string>actionoffset</string>
	<key>currentCollection</key>
	<string>utilflyweightcenter</string>
	<key>precisiondespiteproxy</key>
	<string>buttonTemple</string>
	<key>similarborderdensity</key>
	<string>cupertinotierborder</string>
	<key>skirtKind</key>
	<string>disparateState</string>
	<key>specifierstatevisibility</key>
	<string>tensorLogarithm</string>
</dict>
</plist>
