<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicProgressBar</key>
	<string>anchorcolor</string>
	<key>inflategesture</key>
	<string>ephemeralEquipment</string>
	<key>intensitystate</key>
	<string>typicalprovidervalidation</string>
	<key>plateInteraction</key>
	<string>strengthresponse</string>
	<key>promiseSpeed</key>
	<string>logarithmComposite</string>
	<key>publicGrain</key>
	<string>interpolationTag</string>
	<key>reusableTexture</key>
	<string>unsortedDistinction</string>
	<key>selectedcaption</key>
	<string>menuAppearance</string>
	<key>sustainablebrushacceleration</key>
	<string>resolverProcess</string>
</dict>
</plist>
