<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentDelegate</key>
	<string>resumeChecklist</string>
	<key>difficultNotation</key>
	<string>decorationMediator</string>
	<key>disabledBuilder</key>
	<string>canPrepareExponent</string>
	<key>missedFragments</key>
	<string>diversifiedStack</string>
	<key>newestAspect</key>
	<string>requestStore</string>
	<key>otherVolume</key>
	<string>activatedSkirt</string>
	<key>providerResponse</key>
	<string>unactivatedVariant</string>
	<key>synchronousUseCase</key>
	<string>shouldPushUnary</string>
	<key>visibleAspect</key>
	<string>alertinset</string>
</dict>
</plist>
