<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertInteraction</key>
	<string>decorationHead</string>
	<key>compositionalanimatedcontainer</key>
	<string>gramanimator</string>
	<key>concreteEntropy</key>
	<string>onbulletchanged</string>
	<key>deliveryStatus</key>
	<string>delegateinstruction</string>
	<key>diversifiedStrength</key>
	<string>generateSprite</string>
	<key>materialgrid</key>
	<string>ignoredDispatcher</string>
	<key>sophisticatedHeap</key>
	<string>gemCenter</string>
	<key>techniqueVelocity</key>
	<string>texttriangles</string>
	<key>variantTransparency</key>
	<string>histogramdelivery</string>
	<key>vertexFlags</key>
	<string>completerbound</string>
</dict>
</plist>
