<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardModal</key>
	<string>nodeTension</string>
	<key>completerdata</key>
	<string>isProject</string>
	<key>crudeConverter</key>
	<string>protectedBase</string>
	<key>declarativeBuilder</key>
	<string>criticalExpanded</string>
	<key>dedicatedAscent</key>
	<string>requestLevel</string>
	<key>parallelcapacity</key>
	<string>canSerializeTernary</string>
	<key>shouldPopTextField</key>
	<string>shouldListenGesture</string>
	<key>webMend</key>
	<string>converterPadding</string>
</dict>
</plist>
