<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveplayback</key>
	<string>mutableExponent</string>
	<key>arithmeticCompletion</key>
	<string>groupTension</string>
	<key>ephemeralRepository</key>
	<string>notifySample</string>
	<key>graphvalidation</key>
	<string>transitionTag</string>
	<key>largeTransition</key>
	<string>functionalDistinction</string>
	<key>multiactioncoord</key>
	<string>exponentCommand</string>
	<key>nativeConvolution</key>
	<string>reactivemenu</string>
	<key>optimizerthroughchain</key>
	<string>traintransition</string>
</dict>
</plist>
