<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTentative</key>
	<string>stateFormat</string>
	<key>efficiencyBorder</key>
	<string>exceptionedge</string>
	<key>respectiveButton</key>
	<string>currentrichtext</string>
	<key>roleaboutkind</key>
	<string>euclideanGrayscale</string>
	<key>shouldPopMomentum</key>
	<string>sustainableKernel</string>
	<key>shouldStopVariant</key>
	<string>minProject</string>
	<key>showcatalyst</key>
	<string>initiatorsSize</string>
</dict>
</plist>
